{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block extrastyle %}{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static "admin/css/dashboard.css" %}">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
<script src="/static/assets/node_modules/jquery/jquery-3.2.1.min.js"></script>
<script src="/static/assets/node_modules/datatables/datatables.min.js"></script>
<!-- start - This is for export functionality only -->
<script src="https://cdn.datatables.net/buttons/1.5.1/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.flash.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.print.min.js"></script>
<script src="//cdn.rawgit.com/ashl1/datatables-rowsgroup/v1.0.0/dataTables.rowsGroup.js"></script>

<script>
$(document).ready(function() {
    $('table').dataTable( {
        "bLengthChange" : false,
        buttons: [
            'copy', 'excel',
        ],
        dom: 'lBfrtip',
        "language": {
            "url": "https://cdn.datatables.net/plug-ins/1.10.16/i18n/Spanish.json",
            "buttons": {copy: "Copiar",}
        },
        "ordering": false,
        "searching": false,
        "scrollY": "300px",
        "scrollCollapse": true,
        "scrollX": true,
    } );
} );

        </script>
{% endblock %}

{% if not is_popup %}
{% block breadcrumbs %}
<div class="breadcrumbs">
	<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
</div>
{% endblock %}
{% endif %}


{% block content %}
<style>
	.dashboard #content {
     width: 90% !important; 
}
</style>
<div id="content" class="flex">	
	<div class="module" id="changelist">
		<h1>Tablas renovación</h1>
		<table class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
			<caption>Renovación</caption>
			<thead>
				<tr>
					<th>_index</th>
					<th>municipio</th>
					<th>comunidad</th>
					<th>id_productor</th>
					<th>fecha_ingreso</th>
					<th>fecha_entrega</th>
					<th>responsable_at</th>
					<th>responsable_entrega</th>
					<th>numero_requisa</th>
					<th>area_mz</th>
					<th>usuario</th>
				</tr>
			</thead>
			
			<tbody>
				{% for obj in renovacion %}
			<tr>
				<td>{{obj.pk}}</td>
				<td>{{obj.municipio.id}}</td>
				<td>{{obj.comunidad.id}}</td>
				<td>{{obj.id_productor.id}}</td>
				<td>{{obj.fecha_ingreso}}</td>
				<td>{{obj.fecha_entrega}}</td>
				<td>{{obj.responsable_at.id}}</td>
				<td>{{obj.responsable_entrega.id}}</td>
				<td>{{obj.numero_requisa}}</td>
				<td>{{obj.area_mz}}</td>
				<td>{{obj.usuario.id}}</td>
			</tr>
			{% endfor %}
			</tbody>	
		</table>
			
		<table class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
			<caption>Plantas Renovación</caption>
			<thead>
				<tr>
				<th>id</th>	
				<th>parent_index</th>
				<th>especie</th>
				<th>cantidad</th>
			</tr>
			</thead>
			
			<tbody>
				{% for obj in plantasrenovacion %}
			<tr>
				<td>{{obj.pk}}</td>
				<td>{{obj.parent_index_id}}</td>
				<td>{{obj.especie.id}}</td>
				<td>{{obj.cantidad}}</td>
			</tr>
			{% endfor %}
			</tbody>	
		</table>
	</div>
	<hr>

	<div class="module" id="changelist">
		<h1>Tablas mantenimiento</h1>
		<table class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
			<caption>Mantenimiento</caption>
			<thead>
				<tr>
					<th>_index</th>
					<th>municipio</th>
					<th>comunidad</th>
					<th>id_productor</th>
					<th>fecha_ingreso</th>
					<th>fecha_entrega</th>
					<th>responsable_at</th>
					<th>responsable_entrega</th>
					<th>numero_requisa</th>
					<th>area_mz</th>
					<th>usuario</th>
				</tr>
			</thead>
			
			<tbody>
				{% for obj in mantenimiento %}
			<tr>
				<td>{{obj.pk}}</td>
				<td>{{obj.municipio.id}}</td>
				<td>{{obj.comunidad.id}}</td>
				<td>{{obj.id_productor.id}}</td>
				<td>{{obj.fecha_ingreso}}</td>
				<td>{{obj.fecha_entrega}}</td>
				<td>{{obj.responsable_at.id}}</td>
				<td>{{obj.responsable_entrega.id}}</td>
				<td>{{obj.numero_requisa}}</td>
				<td>{{obj.area_mz}}</td>
				<td>{{obj.usuario.id}}</td>
			</tr>
			{% endfor %}
			</tbody>	
		</table>
		
		<br>

		<table class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
			<caption>Plantas Mantenimiento</caption>
			<thead>
				<tr>
					<th>id</th>
					<th>parent_index</th>
					<th>especie</th>
					<th>cantidad</th>
				</tr>
			</thead>
			
			<tbody>
				{% for obj in plantasmantenimiento %}
			<tr>
				<td>{{obj.pk}}</td>
				<td>{{obj.parent_index_id}}</td>
				<td>{{obj.especie.id}}</td>
				<td>{{obj.cantidad}}</td>
			</tr>
			{% endfor %}
			</tbody>	
		</table>
	</div>
	<hr>

	<div class="module" id="changelist">
		<h1>Tablas Diagnóstico Productivo</h1>
		<table class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
			<caption>Diagnóstico Productivo</caption>
			<thead>
				<tr>
				<th>id</th>
				<th>municipio</th>
				<th>comunidad</th>
				<th>id_productor</th>
				<th>fecha_recuento</th>
				<th>cantidad_sublotes</th>
				<th>usuario</th>
			</tr>
			</thead>
			
			<tbody>
				{% for obj in diagnostico %}
			<tr>
				<td>{{obj.pk}}</td>
				<td>{{obj.municipio.id}}</td>
				<td>{{obj.comunidad.id}}</td>
				<td>{{obj.id_productor.id}}</td>
				<td>{{obj.fecha_recuento}}</td>
				<td>{{obj.cantidad_sublotes}}</td>
				<td>{{obj.usuario.id}}</td>
			</tr>
			{% endfor %}
			</tbody>	
		</table>
		<br>
		<table class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
			<caption>Puntos</caption>
			<thead>
				<tr>
					<th>id</th>
					<th>parent_index</th>
					<th>sublotes</th>
				</tr>
			</thead>
			
			<tbody>
				{% for obj in puntos %}
			<tr>
				<td>{{obj.pk}}</td>
				<td>{{obj.parent_index_id}}</td>
				<td>{{obj.sublotes}}</td>
			</tr>
			{% endfor %}
			</tbody>	
		</table>
		<br>
		<table class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
			<caption>Densidad de siembra</caption>
			<thead>
				<tr>
					<td>id</td>
					<th>parent_index</th>
					<th>distancia_surco</th>
					<th>distancia_plantas</th>
				</tr>
			</thead>
			
			<tbody>
				{% for obj in estimadomanzana %}
			<tr>
				<td>{{obj.pk}}</td>
				<td>{{obj.parent_index_id}}</td>
				<td>{{obj.distancia_surco}}</td>
				<td>{{obj.distancia_plantas}}</td>
			</tr>
			{% endfor %}
			</tbody>	
		</table>
		<br>
		<table class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
			<caption>Potencial productivo de los cafetos</caption>
			<thead>
				<tr>
					<th>id</th>
					<th>parent_index</th>
					<th>variedad</th>
					<th>planta_productiva</th>
					<th>planta_poda_ligera</th>
					<th>planta_recepo</th>
					<th>planta_requiere_resiembra</th>
					<th>planta_joven</th>
					<th>falla_fisica</th>
				</tr>
			</thead>
			
			<tbody>
				{% for obj in potencialproductivo %}
			<tr>
				<td>{{obj.pk}}</td>
				<td>{{obj.parent_index_id}}</td>
				<td>{{obj.variedad.id}}</td>
				<td>{{obj.planta_productiva}}</td>
				<th>{{obj.planta_poda_ligera}}</th>
				<th>{{obj.planta_recepo}}</th>
				<th>{{obj.planta_requiere_resiembra}}</th>
				<th>{{obj.planta_joven}}</th>
				<th>{{obj.falla_fisica}}</th>
			</tr>
			{% endfor %}
			</tbody>	
		</table>
		<br>
		<table class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
			<caption>Nivel de sombra en cada estación</caption>
			<thead>
				<tr>
					<th>id</th>	
					<th>_parent_index</th>
					<th>nivel_sombra</th>
				</tr>
			</thead>
			
			<tbody>
				{% for obj in nivelsombra %}
			<tr>
				<td>{{obj.pk}}</td>
				<td>{{obj.parent_index_id}}</td>
				<td>{{obj.nivel_sombra}}</td>
			</tr>
			{% endfor %}
			</tbody>	
		</table>
		<br>
		<table class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
			<caption>Cobertura de suelo principal de manera visual</caption>
			<thead>
				<tr>
					<th>id</th>
					<th>_parent_index</th>
					<th>tipo_cobertura</th>
					<th>porcentaje</th>
				</tr>
			</thead>
			
			<tbody>
				{% for obj in coberturasuelo %}
			<tr>
				<td>{{obj.pk}}</td>
				<td>{{obj.parent_index_id}}</td>
				<td>{{obj.tipo_cobertura}}</td>
				<td>{{obj.porcentaje}}</td>
			</tr>
			{% endfor %}
			</tbody>	
		</table>
	</div>
	<hr>

	<div class="module" id="changelist">
		<h1>Tablas Estimado cosecha</h1>
		<table class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
			<caption>Estimado de cosecha</caption>
			<thead>
				<tr>
				<th>id</th>
				<th>municipio</th>
				<th>comunidad</th>
				<th>id_productor</th>
				<th>fecha_recuento</th>
				<th>id_tecnico</th>
				<th>usuario</th>
			</tr>
			</thead>
			
			<tbody>
				{% for obj in estimado %}
			<tr>
				<td>{{obj.pk}}</td>
				<td>{{obj.municipio.id}}</td>
				<td>{{obj.comunidad.id}}</td>
				<td>{{obj.id_productor.id}}</td>
				<td>{{obj.fecha_recuento}}</td>
				<td>{{obj.id_tecnico.id}}</td>
				<td>{{obj.usuario.id}}</td>
			</tr>
			{% endfor %}
			</tbody>	
		</table>
		
		<br>

		<table class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
			<caption>Puntos</caption>
			<thead>
				<tr>
					<th>id</th>
					<th>parent_index</th>
					<th>sublotes</th>
				</tr>
			</thead>
			
			<tbody>
				{% for obj in sublotesestimado %}
			<tr>
				<td>{{obj.pk}}</td>
				<td>{{obj.parent_index_id}}</td>
				<td>{{obj.sublotes}}</td>
			</tr>
			{% endfor %}
			</tbody>	
		</table>

		<br>

		<table class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
			<caption>1.2 Plagas, enfermedades en hojas, frutos y recuento</caption>
			<thead>
				<tr>
					<th>id</th>
					<th>parent_index</th>
					<th>seleccion</th>
					<th>total</th>
				</tr>
			</thead>
			
			<tbody>
				{% for obj in estaciones1 %}
			<tr>
				<td>{{obj.pk}}</td>
				<td>{{obj.parent_index_id}}</td>
				<td>{{obj.seleccion.id}}</td>
				<td>{{obj.total}}</td>
			</tr>
			{% endfor %}
			</tbody>	
		</table>

		<br>

		<table class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
			<caption>1.2 Plagas, enfermedades en hojas, frutos y recuento</caption>
			<thead>
				<tr>
					<th>id</th>
					<th>parent_index</th>
					<th>plantas_cafe</th>
					<th>sombra_estacion</th>
				</tr>
			</thead>
			
			<tbody>
				{% for obj in estaciones2 %}
			<tr>
				<td>{{obj.pk}}</td>
				<td>{{obj.parent_index_id}}</td>
				<td>{{obj.plantas_cafe}}</td>
				<td>{{obj.sombra_estacion}}</td>
			</tr>
			{% endfor %}
			</tbody>	
		</table>
	</div>
	<hr>

	<div class="module" id="changelist">
		<h1>Tablas Balance de Nutrientes</h1>
		<table class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
			<caption>Balance de Nutrientes</caption>
			<thead>
				<tr>
					<th>id</th>
					<th>id_tecnico</th>
					<th>municipio</th>
					<th>comunidad</th>
					<th>id_productor</th>
					<th>fecha_muestreo</th>
					<th>usuario</th>
				</tr>
			</thead>
			
			<tbody>
				{% for obj in balancenutrientes %}
			<tr>
				<td>{{obj.pk}}</td>
				<td>{{obj.id_tecnico.id}}</td>
				<td>{{obj.municipio.id}}</td>
				<td>{{obj.comunidad.id}}</td>
				<td>{{obj.id_productor.id}}</td>
				<td>{{obj.fecha_muestreo}}</td>
				<td>{{obj.usuario.id}}</td>
			</tr>
			{% endfor %}
			</tbody>	
		</table>
		<br>

		<table class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
			<caption>Lotes en finca</caption>
			<thead>
				<tr>
					<th>id</th>
					<th>parent_index</th>
					<th>lote</th>
					<th>area_mz</th>
					<th>edad_cafetal</th>
					<th>variedad</th>
					<th>sombra</th>
					<th>cantidad_servicios</th>
					<th>cantidad_maderables</th>
					<th>cantidad_frutales</th>
					<th>cantidad_banano</th>
				</tr>
			</thead>
			
			<tbody>
				{% for obj in cafetales %}
			<tr>
				<td>{{obj.pk}}</td>
				<td>{{obj.parent_index.id}}</td>
				<td>{{obj.lote}}</td>
				<td>{{obj.area_mz}}</td>
				<td>{{obj.edad_cafetal}}</td>
				<td>{{obj.variedad.id}}</td>
				<td>{{obj.sombra}}</td>
				<td>{{obj.cantidad_servicios}}</td>
				<td>{{obj.cantidad_maderables}}</td>
				<td>{{obj.cantidad_frutales}}</td>
				<td>{{obj.cantidad_banano}}</td>
			</tr>
			{% endfor %}
			</tbody>	
		</table>
		<br>

		<table class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
			<caption>Numero de Aplicaciones</caption>
			<thead>
				<tr>
					<th>id</th>
					<th>parent_index</th>
					<th>numero_aplicacion</th>
					<th>mes</th>
				</tr>
			</thead>
			
			<tbody>
				{% for obj in numeroaplicaciones %}
			<tr>
				<td>{{obj.pk}}</td>
				<td>{{obj.parent_index.id}}</td>
				<td>{{obj.numero_aplicacion}}</td>
				<td>{{obj.mes}}</td>
			</tr>
			{% endfor %}
			</tbody>	
		</table>

		<br>

		<table class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
			<caption>Aplicaciones</caption>
			<thead>
				<tr>
					<th>id</th>
					<th>parent_index</th>
					<th>tipo_aplicacion</th>
					<th>cantidad</th>
				</tr>
			</thead>
			
			<tbody>
				{% for obj in aplicaciones %}
			<tr>
				<td>{{obj.pk}}</td>
				<td>{{obj.parent_index.id}}</td>
				<td>{{obj.tipo_aplicacion.id}}</td>
				<td>{{obj.cantidad}}</td>
			</tr>
			{% endfor %}
			</tbody>	
		</table>

		<br>

		<table class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
			<caption>Producción de cada cafetal</caption>
			<thead>
				<tr>
					<th>id</th>
					<th>parent_index</th>
					<th>prod_cafe_pergamino</th>
					<th>banano</th>
					<th>lenia</th>
				</tr>
			</thead>
			
			<tbody>
				{% for obj in produccioncafetal %}
			<tr>
				<td>{{obj.pk}}</td>
				<td>{{obj.parent_index.id}}</td>
				<td>{{obj.prod_cafe_pergamino}}</td>
				<td>{{obj.banano}}</td>
				<td>{{obj.lenia}}</td>
			</tr>
			{% endfor %}
			</tbody>	
		</table>

		<br>

		<table class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
			<caption>Producción frutales</caption>
			<thead>
				<tr>
					<th>id</th>
					<th>parent_index</th>
					<th>especie</th>
					<th>cantidad</th>
				</tr>
			</thead>
			
			<tbody>
				{% for obj in produccionfrutales %}
			<tr>
				<td>{{obj.pk}}</td>
				<td>{{obj.parent_index.id}}</td>
				<td>{{obj.especie.id}}</td>
				<td>{{obj.cantidad}}</td>
			</tr>
			{% endfor %}
			</tbody>	
		</table>
	</div>
	<hr>

	<div class="module" id="changelist">
		<h1>Tablas Inventario forestal</h1>
		<table class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
			<caption>Inventario forestal</caption>
			<thead>
				<tr>
					<th>id</th>
					<th>municipio</th>
					<th>comunidad</th>
					<th>id_productor</th>
					<th>fecha</th>
					<th>encuestador</th>
					<th>usuario</th>
				</tr>
			</thead>
			
			<tbody>
				{% for obj in inventarioforestal %}
			<tr>
				<td>{{obj.pk}}</td>
				<td>{{obj.municipio.id}}</td>
				<td>{{obj.comunidad.id}}</td>
				<td>{{obj.id_productor.id}}</td>
				<td>{{obj.fecha}}</td>
				<td>{{obj.encuestador.id}}</td>
				<td>{{obj.usuario.id}}</td>
			</tr>
			{% endfor %}
			</tbody>	
		</table>
		<br>
		<table class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
			<caption>Inventario</caption>
			<thead>
				<tr>
					<th>id</th>
					<th>parent_index</th>
					<th>especie</th>
					<th>sobrevivencia</th>
					<th>dap</th>
					<th>area_basal</th>
					<th>volumen</th>
					<th>anio_establecimiento</th>
				</tr>
			</thead>
			
			<tbody>
				{% for obj in inventario %}
			<tr>
				<td>{{obj.pk}}</td>
				<td>{{obj.parent_index.id}}</td>
				<td>{{obj.especie.id}}</td>
				<td>{{obj.sobrevivencia}}</td>
				<td>{{obj.dap|default:''}}</td>
				<td>{{obj.area_basal|default:''}}</td>
				<td>{{obj.volumen|default:''}}</td>
				<td>{{obj.anio_establecimiento}}</td>
			</tr>
			{% endfor %}
			</tbody>	
		</table>
	</div>
	<hr>
</div>
{%endblock %}
