/*menu*/
.navbar-dark .navbar-nav .nav-link{
	color:rgba(255, 255, 255, 1);
}
.navbar-nav .title-menu{
	font-weight: 500;
	padding-left: 10px;
	color:white;
	line-height: 58px;
}
.topbar .top-navbar .navbar-header{
	background:rgba(255,255,255,1);
	border-bottom: 1px solid #005ea3;
}
.card{
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.card:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.bg-cafe{
	background-color:#524537;
}
.font-cafe{
	color:#524537;
}
.bg-naranja{
	background-color:#f79038;
}
.font-naranja{
	color:#f79038 !important;
}

.bg-verde{
	background-color:#006A39;
}
.font-verde{
	color:#006A39 !important;
}
.bg-verde2{
	background-color:#8AB130 !important;
}
.bg-pinklow {
    background-color: #F6A275;
}
.font-pinklow {
   color: #F6A275;
}
.bg-bluelow {
    background-color: #6ccff9;
}
.font-bluelow {
   color: #6ccff9;
}

.bg-info{
	background-color: #49a3e4!important;
}
.bg-success {
    background-color: #00c292 !important;
}

.bg-red {
    background-color: #f94949;
}
.font-red {
   color: #f94949 !important;
}

.text-primary {
    color: #fb9678!important;
}
.text-primary {
    color: #005ea3!important;
}
.perfildata p{
	background-color: #f7f3f0;
    padding: 10px 20px;
    color: #524537;
    font-weight: bold;
    font-size: .9em;
    text-align: center;
}
small{
	font-size: 90% !important;
}

.customtab2 .nav-link{
	color: #524537 !important;
}
.nav-link.active {
    color: white!important;
    background-color: #524537 !important;
    border-color: #524537 #524537 #524537 !important;
}
.pointer-mouse{
	cursor: pointer;
}
.dt-buttons .dt-button{
	background: #524537;
}
.table td, .table th{
	padding: 0.37rem;
}
.footer{
	    border-top: 6px solid #005ea3;
	        padding: 5px 15px;
}
@media (max-width: 767px){
	.navbar-nav .title-menu{
		display: none;
	}
}

.btn-success {
    color: #fff;
    background-color: #005ea3;
    border-color: #005ea3;
}
.btn-success:hover {
    color: #fff;
    background-color: #006A32;
    border-color: #006A32;
}

.btn-primary {
	color: #fff;
	background-color: #FF7F09;
    border-color: #FF7F09 ;
}

.btn-primary:hover {
	color: #fff;
	background-color: #006A32;
    border-color: #006A32 ;
}

.color-table.success-table thead th {
    background-color: #FF7F09;
    color: #fff;
}

/* multiselect consulta */
.multiselect-container{
	width: 100%;
}

/* perfil del productor */

#map{
	z-index: 10;
}
.custom-card .card-body{
	padding:10px;
}
.custom-card ul.list-inline li{
	margin: 0 10px;
}