{% extends "base.html" %}

{% block side_bar %}
{% include "sidebar.html" %}
{% endblock side_bar %}

{% block content %}
<div class="row page-titles">
	<div class="col-md-5 align-self-center">
		<h4 class="text-themecolor">Asistencia técnica</h4>
	</div>
    <!--<div class="col-md-7 align-self-center text-right">
        <div class="d-flex justify-content-end align-items-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Inicio</a></li>
                <li class="breadcrumb-item"><a href="javascript:void(0)">Mantenimiento</a></li>
                <li class="breadcrumb-item active">Monitoreo en campo</li>
            </ol>
        </div>
    </div>-->
</div>
{% include "filtros_seleccionados.html" %}

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <form action="." method="POST">{% csrf_token %}
                    <div class="row">
                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                            <div class="form-group has-success">
                                <label class="card-title">Fecha inicio</label>
                                {{form.inicio}}
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                            <div class="form-group has-success">
                                <label class="card-title">Fecha fin</label>
                                {{form.fin}}
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                            {% if request.user.is_authenticated %}
                            <div class="form-group has-success">
                                <label class="card-title">Técnicos</label>
                                {{form.tecnicos}}
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    <button type="submit" class="btn btn-success"> <i class="fa fa-filter"></i> Consultar</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row">
	<div class="col-lg-12">
		<div class="card">
			<div class="card-body">
				<h4 class="card-title">ASISTENCIA TÉCNICA SAF (MANTENIMIENTO Y RENOVACIÓN)</h4>
				<div class="table-responsive">
					<table class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
						<thead>
							<tr>
								<th colspan="1">Responsable AT</th>
								<th colspan="2">SAF-Mantenimiento</th>
								<th colspan="2">SAF-Renovación</th>
								<th>Total general</th>
							</tr>
							<tr>
								<th></th>
								<th>femenino</th>
								<th>masculino</th>
								<th>femenino</th>
								<th>masculino</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							{% for x in lista %}
							<tr>
								<td>{{x.0}}</td>
								<td>{{x.1}}</td>
								<td>{{x.2}}</td>
								<td>{{x.3}}</td>
								<td>{{x.4}}</td>
								<td>{{x.5}}</td>
							</tr>
							{% endfor %}
							<tr>
								<th>Total general</th>
								<th>{{total_f_mant}}</th>
								<th>{{total_m_mant}}</th>
								<th>{{total_f_reno}}</th>
								<th>{{total_m_reno}}</th>
								<th>{{total_general_sum}}</th>
							</tr>
						</tbody>
					</table>
				</div>
				
			</div>	
		</div>
	</div>	
</div>
{% endblock content %}

{% block extra_js %}
<script>
$("select").addClass("form-control custom-select");
</script>
{% endblock extra_js %}