{% extends "base.html" %}

{% block side_bar %}
{% include "sidebar.html" %}
{% endblock side_bar %}

{% block content %}
<div class="row page-titles">
	<div class="col-md-5 align-self-center">
		<h4 class="text-themecolor">Balance de Nutrientes</h4>
	</div>
    <!--<div class="col-md-7 align-self-center text-right">
        <div class="d-flex justify-content-end align-items-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Inicio</a></li>
                <li class="breadcrumb-item"><a href="javascript:void(0)">Mantenimiento</a></li>
                <li class="breadcrumb-item active">Monitoreo en campo</li>
            </ol>
        </div>
    </div>-->
</div>
{% include "filtros_seleccionados.html" %}

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <form action="." method="POST">{% csrf_token %}
                    <div class="row">
                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                            <div class="form-group has-success">
                                <label class="card-title">Fecha inicio</label>
                                {{form.inicio}}
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                            <div class="form-group has-success">
                                <label class="card-title">Fecha fin</label>
                                {{form.fin}}
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                            {% if request.user.is_authenticated %}
                            <div class="form-group has-success">
                                <label class="card-title">Técnicos</label>
                                {{form.tecnicos}}
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    <button type="submit" class="btn btn-success"> <i class="fa fa-filter"></i> Consultar</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row">
	<div class="col-lg-12">
		<div class="card">
			<div class="card-body">
				<h4 class="card-title">PRINCIPALES APLIACIONES EN EL CAFÉ</h4>
				<div class="table-responsive">
					<table class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
						<thead>
							<tr>
								<th>Meses de aplicación</th>
								<th>EDÁFICOS</th>
								<th>FERTILIZACIÓN Y SANIDAD FOLIAR</th>
							</tr>
						</thead>
						<tbody>
							{% for k,v in meses.items %}
								{% if v.0 or v.1  %}
								<tr>
									<td>{{k}}</td>
									<td>{% for x in v.0 %}
										{{forloop.counter}}. {{x}} <br>
									{% endfor %}</td>
									<td>{% for x in v.1 %}
										{{forloop.counter}}. {{x}} <br>
									{% endfor %}</td>
								</tr>
								{% endif %}
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-lg-12">
		<div class="card">
			<div class="card-body">
				<h4 class="card-title">BALANCE DE NUTRIENTES</h4>
				<div class="table-responsive">
					<table class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
						<!--<caption>BALANCE DE NUTRIENTES</caption>-->
						<thead>
							<tr>
								<th>Responsable AT</th>
								<th>femenino</th>
								<th>masculino</th>
								<th>Total general</th>
							</tr>
						</thead>
						<tbody>
							{% for x in b_lista %}
							<tr>
								<td>{{x.0}}</td>
								<td>{{x.1}}</td>
								<td>{{x.2}}</td>
								<td>{{x.3}}</td>
							</tr>
							{% endfor %}
							
							<tr>
								<th>TOTAL</th>
								<th>{{b_total_femenino}}</th>
								<th>{{b_total_masculino}}</th>
								<th>{{b_total_general}}</th>
							</tr>
						</tbody>
					</table>
				</div>
				
			</div>	
		</div>
	</div>	
</div>

{% endblock content %}