<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="/static/assets/images/favicon.png">
    <title>Fundación Aldea</title>
    <!-- This page CSS -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">

    <!-- Custom CSS -->
    <link href="/static/css/style.min.css" rel="stylesheet">
    <!-- Dashboard 1 Page CSS -->
    <link href="/static/css/pages/dashboard1.css" rel="stylesheet">
    <!-- Date picker plugins css -->
    <link href="/static/assets/node_modules/bootstrap-datepicker/bootstrap-datepicker.min.css" rel="stylesheet" type="text/css" />
    <link href="/static/css/customstyle.css" rel="stylesheet">

    <link href="/static/assets/icons/themify-icons/themify-icons.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
{% block extra_css %}{% endblock extra_css %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css" integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ==" crossorigin="" />
  <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.3.0/dist/MarkerCluster.css" />
  <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.3.0/dist/MarkerCluster.Default.css" />

  <script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js" integrity="sha512-/Nsx9X4HebavoBvEBuyp3I7od5tA0UzAxs+j83KgC8PU0kgB4XiK4Lfe4y4cgBtaRJQEIFCW+oC506aPT2L1zw==" crossorigin=""></script>
  <script src="https://unpkg.com/leaflet.markercluster@1.3.0/dist/leaflet.markercluster.js"></script>

</head>

<body class="skin-blue fixed-layout">
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <header class="topbar">
            <nav class="navbar top-navbar navbar-expand-md navbar-dark">
                <!-- ============================================================== -->
                <!-- Logo -->
                <!-- ============================================================== -->
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">
                        <!-- Logo icon -->
                        <b>
                            <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
                            <!-- Dark Logo icon -->
                            <img src="/static/assets/images/logo-icon.png" alt="homepage" class="dark-logo" />
                            <!-- Light Logo icon -->
                            <img src="/static/assets/images/logo-light-icon4.png" alt="homepage" class="light-logo" />
                        </b>
                        <!--End Logo icon -->
                        <!-- Logo text --><span>
                           <!-- dark Logo text -->
                           <img src="/static/assets/images/logo-text.png" alt="homepage" class="dark-logo" />
                           <!-- Light Logo text -->    
                           <img src="/static/assets/images/logo-light-text4.png" class="light-logo" alt="homepage" /></span> 
                    </a>
                </div>
               <!-- ============================================================== -->
               <!-- End Logo -->
               <!-- ============================================================== -->
               <div class="navbar-collapse">
                <!-- ============================================================== -->
                <!-- toggle and nav items -->
                <!-- ============================================================== -->
                <ul class="navbar-nav mr-auto">
                    <!-- This is  -->
                    <li class="nav-item"> 
                        <a class="nav-link nav-toggler d-block d-md-none waves-effect waves-dark" href="javascript:void(0)">
                            <i class="ti-menu"></i>
                        </a> 
                    </li>
                    <li class="nav-item"> 

                        <a class="nav-link sidebartoggler d-none d-lg-block d-md-block waves-effect waves-dark" href="javascript:void(0)">
                            <i class="fas fa-bars"></i>
                        </a> 
                    </li>
                    <li class="nav-item">
                        <h4 class="title-menu">Plataforma de monitoreo y evaluación</h4>
                    </li>
                </ul>
                <!-- ============================================================== -->
                <!-- User profile and search -->
                <!-- ============================================================== -->
                <ul class="navbar-nav my-lg-0">

                    <!-- ============================================================== -->
                    <!-- User sesion -->
                    <!-- ============================================================== -->
                    <li class="nav-item right-side-toggle"> 
                        <a href="/consulta/" class="nav-link  waves-effect waves-light profile-pic" alt="">
                            <span class=""><i class="fas fa-filter"></i>&nbsp;  Consulta </span>
                        </a>
                    </li>

                    {% if request.user.is_authenticated %}
                    <li class="nav-item dropdown u-pro">
                        <a class="nav-link dropdown-toggle waves-effect waves-dark profile-pic" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user"> </i> <span class="hidden-md-down"> {{user.get_full_name|default:user.username}} &nbsp;<i class="fa fa-angle-down"></i></span> </a>
                        <div class="dropdown-menu dropdown-menu-right animated flipInY">

                            <a href="/admin/" class="dropdown-item"><i class="fas fa-user-cog"></i> Ir al admin</a>
                            
                            {% if request.user.is_superuser %}
                            <div class="dropdown-divider"></div>
                            <a href="/static/Manual_administrativo_Fundacion_Aldea.pdf" class="dropdown-item" target="_blank"><i class="fas fa-file-pdf"></i> Manual</a>
                            {% endif %}
                            <div class="dropdown-divider"></div>
                            <a href="/logout/" class="dropdown-item"><i class="fa fa-power-off"></i> Cerrar Sesión</a>

                        </div>
                    </li>
                    {% else %}
                    <li class="nav-item right-side-toggle"> 
                        <a href="/login/" class="nav-link  waves-effect waves-light profile-pic" alt="">
                        <span class="hidden-md-down"><i class="fas fa-user"></i>&nbsp; Iniciar sesión </span>
                        </a>
                    </li>
                    {% endif %}


                    <!-- ============================================================== -->
                    <!-- End User sesion-->
                    <!-- ============================================================== -->

                </ul>
            </nav>
        </header>
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->

                    {% block side_bar %}

                    {% endblock side_bar %}

                    <!-- ============================================================== -->
                    <!-- End Left Sidebar - style you can find in sidebar.scss  -->
                    <!-- ============================================================== -->
                    <!-- ============================================================== -->
                    <!-- Page wrapper  -->
                    <!-- ============================================================== -->
                    <div class="page-wrapper">
                        <!-- ============================================================== -->
                        <!-- Container fluid  -->
                        <!-- ============================================================== -->
                        <div class="container-fluid">


                            <!-- ============================================================== -->
                            <!-- Over Visitor, Our income , slaes different and  sales prediction -->
                            <!-- ============================================================== -->


                            {% block content %}{% endblock content %}



                        </div>
                        <!-- ============================================================== -->
                        <!-- End Container fluid  -->
                        <!-- ============================================================== -->
                    </div>
                    <!-- ============================================================== -->
                    <!-- End Page wrapper  -->
                    <!-- ============================================================== -->
                    <!-- ============================================================== -->
                    <!-- footer -->
                    <!-- ============================================================== -->
                    <footer class="footer">

                        <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-8">
                                <br>
                                <br>
                                © 2018 <a class="font-verde" href="https://aglobal.org.ni/">Aldea Global</a> Desarrollo de la plataforma por <a class="font-verde" href="">SIMAS</a>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-3">
                                <div class="row">
                                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                        <br>
                                        <br>
                                        <img src="/static/assets/images/logos/logo2.gif" width="140px" />
                                    </div>
                                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                        <br>
                                        <img src="/static/assets/images/logos/aldeaglobal.jpg" width="140px" />
                                    </div>
                                </div>
                            </div>

                        </div>
                    </footer>
                    <!-- ============================================================== -->
                    <!-- End footer -->
                    <!-- ============================================================== -->
                </div>
                <!-- ============================================================== -->
                <!-- End Wrapper -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- All Jquery -->
                <!-- ============================================================== -->
                <script src="/static/assets/node_modules/jquery/jquery-3.2.1.min.js"></script>
                <script src="/static/js/popper.min.js" type="text/javascript"></script>
                <script src="/static/js/bootstrap.min.js" type="text/javascript"></script>
                <!-- Bootstrap popper Core JavaScript -->
    <!--<script src="/static/assets/node_modules/popper/popper.min.js"></script>
        <script src="/static/assets/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>-->
        <!-- slimscrollbar scrollbar JavaScript -->
        <script src="/static/js/perfect-scrollbar.jquery.min.js"></script>
        <!--Wave Effects -->
        <script src="/static/js/waves.js"></script>
        <!--Menu sidebar -->
        <script src="/static/js/sidebarmenu.js"></script>
        <!--Custom JavaScript -->
        <script src="/static/js/custom.min.js"></script>
        <!-- ============================================================== -->
        <!-- This page plugins -->
        <!-- ============================================================== -->

        <!-- This is data table -->
        <script src="/static/assets/node_modules/datatables/datatables.min.js"></script>
        <!-- start - This is for export functionality only -->
        <script src="https://cdn.datatables.net/buttons/1.5.1/js/dataTables.buttons.min.js"></script>
        <script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.flash.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js"></script>
        <script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.html5.min.js"></script>
        <script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.print.min.js"></script>
        <script src="//cdn.rawgit.com/ashl1/datatables-rowsgroup/v1.0.0/dataTables.rowsGroup.js"></script>
        <!-- end - This is for export functionality only -->
        <script>
        $(document).ready(function() {
            $('table').dataTable( {
                "bLengthChange" : false,
                buttons: [
                    'copy', 'pdf', 'excel',
                ],
                dom: 'lBfrtip',
                "language": {
                    "url": "https://cdn.datatables.net/plug-ins/1.10.16/i18n/Spanish.json",
                    "buttons": {copy: "Copiar",}
                },
                {% if request.path == '/balance-nutrientes/' or request.path == '/monitoreo-campo/' or '/perfiles/' in request.path %}
                    "ordering": false
                {% endif %}
            } );
        } );

        </script>

        <script src="/static/assets/node_modules/toast-master/js/jquery.toast.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
        <script src="https://code.highcharts.com/highcharts.js"></script>
        <script src="https://code.highcharts.com/modules/data.js"></script>
        <script src="https://code.highcharts.com/modules/drilldown.js"></script>

        <script src="https://code.highcharts.com/highcharts.js"></script>
        <script src="https://code.highcharts.com/modules/exporting.js"></script>
        <script src="https://code.highcharts.com/modules/export-data.js"></script>
        <script src="/static/assets/node_modules/bootstrap-daterangepicker/daterangepicker.js"></script>
        <!-- Date Picker Plugin JavaScript -->
        <script src="/static/assets/node_modules/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>

        {% block extra_js %}{% endblock extra_js %}

    </body>

    </html>