{% extends "base.html" %}

{% block side_bar %}
{% include "sidebar.html" %}
{% endblock side_bar %}

{% block content %}
<div class="row page-titles">
	<div class="col-md-5 align-self-center">
		<h4 class="text-themecolor">Capacitaciones</h4>
	</div>
    <!--<div class="col-md-7 align-self-center text-right">
        <div class="d-flex justify-content-end align-items-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Inicio</a></li>
                <li class="breadcrumb-item"><a href="javascript:void(0)">Mantenimiento</a></li>
                <li class="breadcrumb-item active">Monitoreo en campo</li>
            </ol>
        </div>
    </div>-->
</div>
{% include "filtros_seleccionados.html" %}

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <form action="." method="POST">{% csrf_token %}
                    <div class="row">
                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                            <div class="form-group has-success">
                                <label class="card-title">Fecha inicio</label>
                                {{form.inicio}}
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                            <div class="form-group has-success">
                                <label class="card-title">Fecha fin</label>
                                {{form.fin}}
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                            {% if request.user.is_authenticated %}
                            <div class="form-group has-success">
                                <label class="card-title">Técnicos</label>
                                {{form.tecnicos}}
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    <button type="submit" class="btn btn-success"> <i class="fa fa-filter"></i> Consultar</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row">
	<div class="col-lg-12">
		<div class="card">
			<div class="card-body">
				<div id="capacitaciones" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
			</div>
		</div>	
	</div>
</div>

{% if request.user.is_authenticated %}

<div class="row">
	<div class="col-lg-12">
		<div class="card">
			<div class="card-body">
				<h4 class="card-title">PARTICIPACIONES ACUMULADAS DE CAPACITACIONES Y ASAMBLEAS COMUNITARIAS</h4>
				<div class="table-responsive">
					<table class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
						<caption>Participaciones</caption>
						<thead>
							<tr>
								<th>Línea Presupuestaria</th>
								<th>Tema del Evento</th>
								<th>femenino</th>
								<th>masculino</th>
								<th>Total general</th>
							</tr>
						</thead>
						<tbody>
							{% for x in lista %}
							<tr>
								<td>{{x.0}}</td>
								<td>{{x.1}}</td>
								<td>{{x.2}}</td>
								<td>{{x.3}}</td>
								<td>{{x.4}}</td>
							</tr>
							{% endfor %}
							
							<tr>
								<th>TOTAL</th>
								<th></th>
								<th>{{total_femenino}}</th>
								<th>{{total_masculino}}</th>
								<th>{{total_general}}</th>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-lg-12">
		<div class="card">
			<div class="card-body">
				<h4 class="card-title">NÚMERO DE PRODUCTORES/AS EN CAPACITACIONES Y ASAMBLEAS COMUNITARIAS</h4>
				<div class="table-responsive">
					<table class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%"><caption>Personas</caption>
						<thead>
							<tr>
								<th>Línea Presupuestaria</th>
								<th>Tema del Evento</th>
								<th>femenino</th>
								<th>masculino</th>
								<th>Total general</th>
							</tr>
						</thead>
						<tbody>
							{% for x in lista_personas %}
							<tr>
								<td>{{x.0}}</td>
								<td>{{x.1}}</td>
								<td>{{x.2}}</td>
								<td>{{x.3}}</td>
								<td>{{x.4}}</td>
							</tr>
							{% endfor %}
							<tr>
								<th>TOTAL</th>
								<th></th>
								<th>{{total_femenino_personas}}</th>
								<th>{{total_masculino_personas}}</th>
								<th>{{total_general_personas}}</th>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
{% endif %}

{% endblock content %}

{% block extra_js %}
<script>
$("select").addClass("form-control");

Highcharts.chart('capacitaciones', {
	chart: {
		type: 'column'
	},
	title: {
		text: 'Número de capacitaciones por tema'
	},
	xAxis: {
		categories: ['Capacitaciones',]
	},
	yAxis: {
		title: {
			text: ''
		}
	},
	credits: {
		enabled: false
	},
	plotOptions: {
		series: {
			borderWidth: 0,
			dataLabels: {
				enabled: true,
				format: '{point.y}'
			}
		}
	},
	series: [
	{% for k,v in dict_eventos.items %}
	{name: '{{k}}',data: [{{v}},],},
	{% endfor %}


	],
});
</script>
{% endblock extra_js %}