{% extends "base.html" %}
{% load custom_tags %}

{% block side_bar %}
{% include "sidebar.html" %}
{% endblock side_bar %}

{% block extra_css %}
<style>
	{% if object.latitud and object.longitud or poly %}
		#map { height: 200px; }
	{% endif %}
	
</style>
{% endblock extra_css %}

{% block content %}
{% include "filtros_seleccionados.html" %}
<div class="row">
    <!-- Column -->
    <div class="col-lg-12">
        <div class="card custom-card">
            <div class="card-body">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <div class="row">
                            <div class="col-xs-8 col-sm-4 col-md-4 col-lg-4">
                                {% if foto %}
                                <img src="{{foto.archivo.url}}" width="100%">
                                {% else %}
                                <img src="https://img.icons8.com/color/300/000000/gender-neutral-user.png" width="100%">
                                {% endif %}   
                            </div>
                            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                <h4 class="card-title m-b-10">{{object.nombre}}</h4>
                                <h6 class="card-subtitle"><i class="fas fa-id-card"></i> {{object.cedula|default:'---'}}</h6>
                                <ul class="list-inline">
                                    <li>
                                        <strong>Sexo</strong>
                                        <p>
                                            {% if object.sexo == 'masculino' %}
                                            <i class="fas fa-mars"></i> <font class="font-medium">{{object.sexo}}</font>
                                            {% else %}
                                            <i class="fas fa-venus"></i> <font class="font-medium">{{object.sexo}}</font>
                                            {% endif %}
                                        </p>
                                    </li>
                                    <li>
                                        <strong>id Aldea</strong>
                                        <p>{{object.id_aldea}}</p>
                                    </li>
                                    <li>
                                        <strong>id FA</strong>
                                        <p>{{object.id_fa}}</p>
                                    </li>
                                    <li>
                                        <strong>Estado</strong>
                                        {% if object.estado == 'activo' %}
                                        <p class="font-verde">
                                            <i class="fas fa-user-check"></i> <font class="font-medium">{{object.estado}}</font>
                                        </p>
                                        {% elif  object.estado == 'retirado' %}
                                        <p class="font-red">
                                            <i class="fas fa-user-minus"></i> <font class="font-medium">{{object.estado}}</font>
                                        </p>
                                        {% elif  object.estado == 'suspendido' %}
                                        <p class="font-naranja">
                                            <i class="fas fa-user-clock"></i> <font class="font-medium">{{object.estado}}</font>
                                        </p>
                                        {% else %}
                                        <p class="font-red">
                                            <i class="fas fa-user-times"></i> <font class="font-medium">{{object.estado}}</font>
                                        </p>
                                        {% endif %}
                                    </li>
                                    {% if object.telefono %}
                                        <li>
                                            <strong>Teléfono</strong>
                                        </li>
                                        <p>
                                            <i class="fas fa-mobile-alt"></i> <font class="font-medium">{{object.telefono}}</font>
                                        </p>
                                    {% endif %}
                                    
                                    
                                </ul>

                            </div>
                            <div class="col-lg-12">
                                {% if acta %}
                                <div class="col-12"><a href="/media/{{acta.archivo}}" class="link" download><i class="fas fa-download"></i> <font class="font-medium">Descargar Acta de Intensión </font></a></div>
                                {% endif %}
                            </div>

                        </div>

                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <div class="row">
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                <small class="text-muted">Departamento </small>
                                <h6>{{object.comunidad.municipio.departamento}}</h6> 
                                <small class="text-muted p-t-30 db">Municipio</small>
                                <h6>{{object.comunidad.municipio.nombre}}</h6> 
                                <small class="text-muted p-t-30 db">Comunidad</small>
                                <h6>{{object.comunidad.nombre}}</h6>
                                {% if object.direccion_finca %}
                                    <small class="text-muted p-t-30 db">Dirección</small>
                                    <h6>{{object.direccion_finca}}</h6>
                                {% endif %}
                            </div>
                            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                {% if object.latitud and object.longitud or poly %}
                                <div class="map-box">
                                    <div id="map"></div>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                        

                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    
    <!-- Column -->
    <div class="col-lg-12 col-xlg-12 col-md-12">
        <div class="card m-t-5">
            <div class="card-body">
                <h4 class="card-title">Seleccionar indicador</h4>
                <select id="floorplanSelect" class="form-control m-b-10" name="floorplan">
                    <option value="">----</option>
                    {% if renovaciones %}
                    <option value="reno">Renovación</option>
                    {% endif %}
                    {% if mantenimientos %}
                    <option value="mant">Mantenimiento</option>
                    {% endif %}
                    {% if monitoreo %}
                    <option value="monitoreo">Monitoreo de campo</option>
                    {% endif %}

                    {% if capacitaciones %}
                    <option value="cap">Capacitaciones</option>
                    {% endif %}
                    
                    {% if diagnosticos %}
                    <option value="diagnostico">Diagnóstico Productivo</option>
                    {% endif %}
                    
                    {% if estimado_cosecha %}
                    <option value="estimado">Estimado de cosecha</option>
                    {% endif %}
                    
                    {% if balances %}
                    <option value="balance">Balance de nutrientes</option>
                    {% endif %}
                    
                    {% if inventarios %}
                    <option value="inv">Inventario Forestal</option>
                    {% endif %}
                
                    {% if asist %}
                    <option value="asist">Asistencia técnica</option>
                    {% endif %}
                </select>               
                <div class="tab-content">
                	<div class="tab-pane" id="reno" role="tabpanel">
                        <div class="perfildata">
                            <div class="accordion" id="accordion">
                            {% for obj in renovaciones %}
                                <div class="card">
                                    <div class="card-header" id="heading{{forloop.counter}}">
                                      <h2 class="mb-0">
                                        <button class="btn btn-link {% if forloop.counter > 1 %}collapsed{% endif %}" type="button" data-toggle="collapse" data-target="#collapse{{forloop.counter}}" aria-expanded="true" aria-controls="collapse{{forloop.counter}}">
                                          {{obj.fecha_entrega}}
                                        </button>
                                      </h2>
                                    </div>
                                    <div id="collapse{{forloop.counter}}" class="collapse {% if forloop.counter == 1 %}show{% endif %}" aria-labelledby="heading{{forloop.counter}}" data-parent="#accordion">
                                      <div class="card-body">
                                         <div class="row">
                                            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                                                <small class="text-muted p-t-30 db">Área Mz</small>
                                                <p class="">{{obj.area_mz}}</p>
                                            </div>
                                            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                                                <small class="text-muted p-t-30 db">Área Ha</small>
                                                <p class="">{{obj.area_mz|convertir_ha}}</p>
                                            </div>
                                            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                                                <small class="text-muted p-t-30 db">Entrega</small>
                                                <p class="">{{obj.fecha_entrega|date:"d-m-Y"}}</p>
                                            </div>
                                            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                                                <small class="text-muted p-t-30 db">Ingreso</small>
                                                <p class="">{{obj.fecha_ingreso|date:"d-m-Y"}}</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-6">
                                                <small class="text-muted p-t-30 db">Responsable AT</small>
                                                <p class="">{{obj.responsable_at}}</p>
                                            </div>
                                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                                <small class="text-muted p-t-30 db">Responsable entrega</small>
                                                <p class="">{{obj.responsable_entrega}}</p>
                                            </div>
                                        </div>
                                        {% if obj.numero_requisa %}
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                                                <small class="text-muted p-t-30 db">N° Requisa</small>
                                                <p class="">{{obj.numero_requisa}}</p>
                                            </div>
                                        </div>
                                        {% endif %}
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-12">
                                                <table class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
                                                    <thead>
                                                        <tr>
                                                            <th>Especie</th>
                                                            <th>Tipo</th>
                                                            <th>Cantidad</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% for x in obj.plantasrenovacion_set.all %}
                                                        <tr>
                                                            <td>{{x.especie.nombre}}</td>
                                                            <td>{{x.especie.tipo}}</td>
                                                            <td>{{x.cantidad}}</td>
                                                        </tr>
                                                        {% endfor %}
                                                        
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                      </div>
                                    </div>
                                </div>
                            {% endfor %}
                            </div>

                            <br>

                            <div class="row">
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                    <div id="forestales" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                    <div id="frutales" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
                                </div>
                            </div>
                            
                        </div>
                    </div>

                    <div class="tab-pane" id="mant" role="tabpanel">
                       <div class="perfildata">
                            <div class="accordion" id="accordion-mant">
                            {% for obj in mantenimientos %}
                                <div class="card">
                                    <div class="card-header" id="heading{{forloop.counter}}-mant">
                                      <h2 class="mb-0">
                                        <button class="btn btn-link {% if forloop.counter > 1 %}collapsed{% endif %}" type="button" data-toggle="collapse" data-target="#collapse{{forloop.counter}}-mant" aria-expanded="true" aria-controls="collapse{{forloop.counter}}">
                                          {{obj.fecha_entrega}}
                                        </button>
                                      </h2>
                                    </div>
                                    <div id="collapse{{forloop.counter}}-mant" class="collapse {% if forloop.counter == 1 %}show{% endif %}" aria-labelledby="heading{{forloop.counter}}-mant" data-parent="#accordion-mant">
                                      <div class="card-body">
                                         <div class="row">
                                            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                                                <small class="text-muted p-t-30 db">Área Mz</small>
                                                <p class="">{{obj.area_mz}}</p>
                                            </div>
                                            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                                                <small class="text-muted p-t-30 db">Área Ha</small>
                                                <p class="">{{obj.area_mz|convertir_ha}}</p>
                                            </div>
                                            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                                                <small class="text-muted p-t-30 db">Entrega</small>
                                                <p class="">{{obj.fecha_entrega|date:"d-m-Y"}}</p>
                                            </div>
                                            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                                                <small class="text-muted p-t-30 db">Ingreso</small>
                                                <p class="">{{obj.fecha_ingreso|date:"d-m-Y"}}</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-6">
                                                <small class="text-muted p-t-30 db">Responsable AT</small>
                                                <p class="">{{obj.responsable_at}}</p>
                                            </div>
                                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                                <small class="text-muted p-t-30 db">Responsable entrega</small>
                                                <p class="">{{obj.responsable_entrega}}</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-12">
                                                <table class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
                                                    <thead>
                                                        <tr>
                                                            <th>Especie</th>
                                                            <th>Tipo</th>
                                                            <th>Cantidad</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% for x in obj.plantasmantenimiento_set.all %}
                                                        <tr>
                                                            <td>{{x.especie.nombre}}</td>
                                                            <td>{{x.especie.tipo}}</td>
                                                            <td>{{x.cantidad}}</td>
                                                        </tr>
                                                        {% endfor %}
                                                        
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                      </div>
                                    </div>
                                </div>
                            {% endfor %}
                            </div>

                            <br>
                            
                            <div class="row">
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                    <div id="forestales-mant" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                    <div id="frutales-mant" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
                                </div>
                            </div>
                            
                        </div> 
                    </div>
                    
                    <div class="tab-pane" id="monitoreo" role="tabpanel">
                        <div class="perfildata">
                            <div class="accordion" id="accordion-moni">
                            {% for obj in monitoreo %}
                                <div class="card">
                                    <div class="card-header" id="heading{{forloop.counter}}-moni">
                                      <h2 class="mb-0">
                                        <button class="btn btn-link {% if forloop.counter > 1 %}collapsed{% endif %}" type="button" data-toggle="collapse" data-target="#collapse{{forloop.counter}}-moni" aria-expanded="true" aria-controls="collapse{{forloop.counter}}">
                                          {{obj.fecha}}
                                        </button>
                                      </h2>
                                    </div>
                                    <div id="collapse{{forloop.counter}}-moni" class="collapse {% if forloop.counter == 1 %}show{% endif %}" aria-labelledby="heading{{forloop.counter}}-moni" data-parent="#accordion-moni">
                                      <div class="card-body">
                                         <div class="row">
                                            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-6">
                                                <small class="text-muted p-t-30 db">Responsable de seguimiento</small>
                                                <p class="">{{obj.responsable_seguimiento}}</p>
                                            </div>
                                            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-6">
                                                <small class="text-muted p-t-30 db">Responsable AT</small>
                                                <p class="">{{obj.responsable_at}}</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                                                <small class="text-muted p-t-30 db">Municipio</small>
                                                <p class="">{{obj.municipio.nombre}}</p>
                                            </div>
                                            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                                                <small class="text-muted p-t-30 db">Comunidad</small>
                                                <p class="">{{obj.comunidad}}</p>
                                            </div>
                                            {% if obj.tema %}
                                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                                <small class="text-muted p-t-30 db">Tema</small>
                                                <p class="">{{obj.tema}}</p>
                                            </div>
                                            {% endif %}
                                            
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-6">
                                                <small class="text-muted p-t-30 db">Objetivo</small>
                                                <p class="">{{obj.objetivo}}</p>
                                            </div>
                                            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-6">
                                                <small class="text-muted p-t-30 db">Valoración</small>
                                                <p class="">{{obj.get_valoracion_display}}</p>
                                            </div>
                                        </div>
                                        {% if obj.comentarios %}
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                <small class="text-muted p-t-30 db">Comentarios</small>
                                                <p class="">{{obj.comentarios}}</p>
                                            </div>
                                        </div>  
                                        {% endif %}
                                        
                                      </div>
                                    </div>
                                </div>
                            {% endfor %}
                            </div>                        
                        </div> 
                    </div>

                    <div class="tab-pane" id="cap" role="tabpanel">
                        <div class="perfildata">
                            <div class="accordion" id="accordion-cap">
                            {% for obj in capacitaciones %}
                                <div class="card">
                                    <div class="card-header" id="heading{{forloop.counter}}-cap">
                                      <h2 class="mb-0">
                                        <button class="btn btn-link {% if forloop.counter > 1 %}collapsed{% endif %}" type="button" data-toggle="collapse" data-target="#collapse{{forloop.counter}}-cap" aria-expanded="true" aria-controls="collapse{{forloop.counter}}">
                                          {{obj.fecha_evento}}
                                        </button>
                                      </h2>
                                    </div>
                                    <div id="collapse{{forloop.counter}}-cap" class="collapse {% if forloop.counter == 1 %}show{% endif %}" aria-labelledby="heading{{forloop.counter}}-cap" data-parent="#accordion-cap">
                                      <div class="card-body">
                                         <div class="row">
                                            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                                                <small class="text-muted p-t-30 db">Lugar del evento</small>
                                                <p class="">{{obj.lugar_evento}}</p>
                                            </div>
                                            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                                                <small class="text-muted p-t-30 db">Municipio</small>
                                                <p class="">{{obj.municipio_capacitacion.nombre}}</p>
                                            </div>
                                            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                                                <small class="text-muted p-t-30 db">Comunidad</small>
                                                <p class="">{{obj.comunidad_capacitacion}}</p>
                                            </div>
                                            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                                                <small class="text-muted p-t-30 db">Código de proyecto</small>
                                                <p class="">{{obj.codigo_proyecto}}</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-6">
                                                <small class="text-muted p-t-30 db">Código del evento</small>
                                                <p class="">{{obj.codigo_evento}}</p>
                                            </div>
                                            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                                                <small class="text-muted p-t-30 db">Tipo de evento</small>
                                                <p class="">{{obj.tipo_evento}}</p>
                                            </div>
                                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                                                <small class="text-muted p-t-30 db">Responsable evento</small>
                                                <p class="">{{obj.responsable_evento}}</p>
                                            </div>
                                        </div>
                                        {% if obj.numero_requisa %}
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                                                <small class="text-muted p-t-30 db">N° Requisa</small>
                                                <p class="">{{obj.numero_requisa}}</p>
                                            </div>
                                        </div>
                                        {% endif %}
                                      </div>
                                    </div>
                                </div>
                            {% endfor %}
                            </div>                        
                        </div> 
                    </div>

                    <div class="tab-pane" id="inv" role="tabpanel">
                        <div class="perfildata">
                            <div class="accordion" id="accordion-inv">
                                {% for obj in inventarios %}
                                    <div class="card">
                                        <div class="card-header" id="heading{{forloop.counter}}-inv">
                                            <h2 class="mb-0">
                                                <button class="btn btn-link {% if forloop.counter > 1 %}collapsed{% endif %}" type="button" data-toggle="collapse" data-target="#collapse{{forloop.counter}}-inv" aria-expanded="true" aria-controls="collapse{{forloop.counter}}">
                                                    {{obj.fecha}}
                                                </button>
                                            </h2>
                                        </div>
                                        <div id="collapse{{forloop.counter}}-inv" class="collapse {% if forloop.counter == 1 %}show{% endif %}" aria-labelledby="heading{{forloop.counter}}-inv" data-parent="#accordion-inv">
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-6">
                                                        <small class="text-muted p-t-30 db">Técnico</small>
                                                        <p class="">{{obj.encuestador}}</p>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                        <small class="text-muted p-t-30 db">Inventario</small>
                                                        <table class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
                                                            <tr>
                                                                <th>Especie</th>
                                                                <th>Sobrevivencia</th>
                                                                <th>Dap</th>
                                                                <th>Área basal</th>
                                                                <th>Volumen</th>
                                                                <th>Año establecimiento</th>
                                                            </tr>
                                                            {% for x in obj.inventario_set.all %}
                                                            <tr>
                                                                <td>{{x.especie.nombre}}</td>
                                                                <td>{{x.sobrevivencia}}</td>
                                                                <td>{{x.dap|default:"--"}}</td>
                                                                <td>{{x.area_basal|default:"--"}}</td>
                                                                <td>{{x.volumen|default:"--"}}</td>
                                                                <td>{{x.anio_establecimiento}}</td>
                                                            </tr>
                                                            {% endfor %}
                                                        </table>
                                                    </div>
                                                </div>
                                            
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div> 
                            <div class="row">
                                <div class="col-lg-12">
                                    <h4 class="card-title">Proyecciones de crecimiento según NTON 0.35 cm / Dap / año</h4>
                                    <div class="table-responsive">
                                        <table class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
                                            <thead>
                                                <tr>
                                                    <th colspan="1">Especie</th>
                                                    <th colspan="1">Dap (promedio)</th>
                                                    <th colspan="1">Crecimiento anual</th>
                                                    <th colspan="10">Años</th>
                                                </tr>
                                                <tr>
                                                    <th></th>
                                                    <th></th>
                                                    <th></th>
                                                    {% for x in rango %}
                                                        <th>{{last_year|add:x}}</th>
                                                    {% endfor %}
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for x in proyecciones %}
                                                <tr>
                                                    <td>{{x.0}}</td>
                                                    <td>{{x.1}}</td>
                                                    <td>{{x.2}}</td>
                                                    {% for l in x.3 %}
                                                        <td>{{l|floatformat:2}}</td>
                                                    {% endfor %}
                                                    
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                
                            </div>
                            
                        </div>
                    </div>

                    <div class="tab-pane" id="diagnostico" role="tabpanel">                    
                        <div class="perfildata">
                            <div class="accordion" id="accordion-diag">
                                {% for obj in diagnosticos %}
                                <div class="card">
                                    <div class="card-header" id="heading{{forloop.counter}}-diag">
                                      <h2 class="mb-0">
                                        <button class="btn btn-link {% if forloop.counter > 1 %}collapsed{% endif %}" type="button" data-toggle="collapse" data-target="#collapse{{forloop.counter}}-diag" aria-expanded="true" aria-controls="collapse{{forloop.counter}}-diag">
                                          {{obj.fecha_recuento}}
                                        </button>
                                      </h2>
                                    </div>
                                    <div id="collapse{{forloop.counter}}-diag" class="collapse {% if forloop.counter == 1 %}show{% endif %}" aria-labelledby="heading{{forloop.counter}}-diag" data-parent="#accordion-diag">
                                      <div class="card-body">
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                                                <small class="text-muted p-t-30 db">Número del Lote</small>
                                                <p class="">{{obj.cantidad_sublotes}}</p>
                                            </div>
                                        </div>
                                        <hr>

                                        {% for punto in obj.sublotes_set.all %}
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
                                                <small class="text-muted p-t-30 db">Punto</small>
                                                <p class="">{{punto.sublotes}}</p>
                                            </div>
                                            
                                            
                                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                {% for em in punto.estimacionmanzana_set.all %}
                                                <div class="row">
                                                    <small class="text-muted p-t-30 db">Densidad de siembra</small>
                                                    <table class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
                                                        <tr>
                                                            <th>Distancia entre surco (varas)</th>
                                                            <th>Distancia entre plantas (varas)</th>
                                                        </tr>
                                                        <tr>
                                                            <td>{{em.distancia_surco}}</td>
                                                            <td>{{em.distancia_plantas}}</td>
                                                        </tr>
                                                    </table>
                                                </div>
                                                 {% endfor %}

                                                 {% for pp in punto.potencialproductivo_set.all %}
                                                <div class="row">
                                                    <small class="text-muted p-t-30 db">Potencial productivo de los cafetos</small>
                                                    <div class="table-responsive">
                                                        <table class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
                                                            <tr>
                                                                <th>Variedad</th>
                                                                <th>Plantas productivas</th>
                                                                <th>Planta poda ligera</th>
                                                                <th>Planta recepo</th>
                                                                <th>Planta que requiere resiembra</th>
                                                                <th>Planta joven</th>
                                                                <th>Falla física</th>
                                                            </tr>
                                                            <tr>
                                                                <td>{{pp.variedad}}</td>
                                                                <td>{{pp.planta_productiva}}</td>
                                                                <td>{{pp.planta_poda_ligera}}</td>
                                                                <td>{{pp.planta_recepo}}</td>
                                                                <td>{{pp.planta_requiere_resiembra}}</td>
                                                                <td>{{pp.planta_joven}}</td>
                                                                <td>{{pp.falla_fisica}}</td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                </div>
                                                {% endfor %}

                                                {% for ns in punto.nivelsombra_set.all %}
                                                <div class="row">
                                                    <small class="text-muted p-t-30 db">Nivel de sombra en cada estación</small>
                                                    <table class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
                                                        <tr>
                                                            <th>Porcentaje</th>
                                                        </tr>
                                                        <tr>
                                                            <td>{{ns.nivel_sombra}}</td>
                                                        </tr>
                                                    </table>
                                                </div>   
                                                {% endfor %}
                                                
                                                {% if punto.coberturasuelo_set.all %}
                                                <div class="row">
                                                    <small class="text-muted p-t-30 db">Cobertura de suelo principal de manera visual</small>
                                                    <table class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
                                                        <tr>
                                                            <th>Tipo cobertura</th>
                                                            <th>Porcentaje</th>
                                                        </tr>
                                                            {% for cs in punto.coberturasuelo_set.all %}
                                                            <tr>
                                                                <td>{{cs.tipo_cobertura}}</td>
                                                                <td>{{cs.porcentaje}}</td>
                                                            </tr>
                                                            {% endfor %}
                                                    </table>
                                                </div>
                                                {% endif %}
                                            </div>
                                        </div>
                                        <hr>
                                        {% endfor %}
                                      </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                           <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <div id="diagnostico-graf" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane" id="estimado" role="tabpanel">
                        <div class="perfildata">
                            <div class="accordion" id="accordion-est">
                                {% for obj in estimado_cosecha %}
                                <div class="card">
                                    <div class="card-header" id="heading{{forloop.counter}}-est">
                                      <h2 class="mb-0">
                                        <button class="btn btn-link {% if forloop.counter > 1 %}collapsed{% endif %}" type="button" data-toggle="collapse" data-target="#collapse{{forloop.counter}}-est" aria-expanded="true" aria-controls="collapse{{forloop.counter}}-est">
                                          {{obj.fecha_recuento}}
                                        </button>
                                      </h2>
                                    </div>
                                    <div id="collapse{{forloop.counter}}-est" class="collapse {% if forloop.counter == 1 %}show{% endif %}" aria-labelledby="heading{{forloop.counter}}-est" data-parent="#accordion-est">
                                      <div class="card-body">
                                        {% for lote in obj.sublotesestimadocosecha_set.all %}
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                                                <small class="text-muted p-t-30 db">Punto</small>
                                                <p class="">{{lote.sublotes}}</p>
                                            </div>
                                        </div>  

                                        
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-12">
                                                <small class="text-muted p-t-30 db">Plagas, enfermedades en hojas, frutos y recuento</small>
                                                <table class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
                                                    <tr>
                                                        <th></th>
                                                        <th>Total</th>
                                                    </tr>
                                                    {% for e1 in lote.estacionesenfermedades_set.all %}
                                                    <tr>
                                                        <td>{{e1.seleccion}}</td>
                                                        <td>{{e1.total}}</td>
                                                    </tr>
                                                    {% endfor %}
                                                </table>
                                                
                                                {% for e2 in lote.estacionesenfermedades2_set.all %}
                                                <table class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
                                                    <tr>
                                                        <th>Plantas de café con pellejillo</th>
                                                        <th>% Sombra en la estación</th>
                                                    </tr>
                                                    <tr>
                                                        <td>{{e2.plantas_cafe}}</td>
                                                        <td>{{e2.sombra_estacion}}</td>
                                                    </tr>
                                                </table>
                                                {% endfor %}
                                            </div>
                                        </div>
                                        

                                        {% endfor %}
                                      </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-lg-12">
                                <div id="frutos" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div id="foliar" style="min-width: 310px; height: 400px; margin: 0 auto"></div> 
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-lg-2 col-xlg-2">
                                <div class="card">
                                    <div class="box bg-info text-center">
                                        <h1 class="font-light text-white">{{total_frutos_bandolas|floatformat:'2'}}</h1>
                                        <h6 class="text-white">Total frutos por bandolas</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-2 col-xlg-2">
                                <div class="card">
                                    <div class="box bg-primary text-center">
                                        <h1 class="font-light text-white">{{frutos_promedio_bandola|floatformat:'2'}}</h1>
                                        <h6 class="text-white">Frutos promedio por bandolas</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-2 col-xlg-2">
                                <div class="card">
                                    <div class="box bg-danger text-center">
                                        <h1 class="font-light text-white">{{total_frutos_planta|floatformat:'2'}}</h1>
                                        <h6 class="text-white">Total frutos por planta</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-2 col-xlg-2">
                                <div class="card">
                                    <div class="box bg-warning text-center">
                                        <h1 class="font-light text-white">{{qq_pergamino_oreado|floatformat:'2'}}</h1>
                                        <h6 class="text-white">Quintales pergamino oreado</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-2 col-xlg-2">
                                <div class="card">
                                    <div class="box bg-success text-center">
                                        <h1 class="font-light text-white">{{qq_oro_bruto|floatformat:'2'}}</h1>
                                        <h6 class="text-white"><br>Quintales oro bruto</h6>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="tab-pane" id="balance" role="tabpanel">
                        <div class="perfildata">
                            <div class="accordion" id="accordion-balance">
                            {% for obj in balances %}
                                <div class="card">
                                    <div class="card-header" id="heading{{forloop.counter}}-balance">
                                      <h2 class="mb-0">
                                        <button class="btn btn-link {% if forloop.counter > 1 %}collapsed{% endif %}" type="button" data-toggle="collapse" data-target="#collapse{{forloop.counter}}-balance" aria-expanded="true" aria-controls="collapse{{forloop.counter}}-balance">
                                          {{obj.fecha_muestreo}}
                                        </button>
                                      </h2>
                                    </div>
                                    <div id="collapse{{forloop.counter}}-balance" class="collapse {% if forloop.counter == 1 %}show{% endif %}" aria-labelledby="heading{{forloop.counter}}-balance" data-parent="#accordion-balance">
                                      <div class="card-body">
                                        {% for cafetales in obj.cafetalesfinca_set.all %}
                                        <div class="row">
                                            <div class="col-xs-6 col-sm-4 col-md-2 col-lg-2">
                                                <small class="text-muted p-t-30 db">Lote</small>
                                                <p class="">{{cafetales.lote}}</p>
                                            </div>
                                            <div class="col-xs-6 col-sm-4 col-md-2 col-lg-2">
                                                <small class="text-muted p-t-30 db">Área mz</small>
                                                <p class="">{{cafetales.area_mz}}</p>
                                            </div> 
                                            <div class="col-xs-6 col-sm-4 col-md-2 col-lg-2">
                                                <small class="text-muted p-t-30 db">Edad cafetal</small>
                                                <p class="">{{cafetales.edad_cafetal}}</p>
                                            </div>
                                            <div class="col-xs-6 col-sm-4 col-md-2 col-lg-2">
                                                <small class="text-muted p-t-30 db">Variedad</small>
                                                <p class="">{{cafetales.variedad}}</p>
                                            </div>   
                                            <div class="col-xs-6 col-sm-4 col-md-2 col-lg-2">
                                                <small class="text-muted p-t-30 db">% sombra</small>
                                                <p class="">{{cafetales.sombra}}</p>
                                            </div>
                                            <div class="col-xs-6 col-sm-4 col-md-2 col-lg-2">
                                                <small class="text-muted p-t-30 db">Árboles de servicio</small>
                                                <p class="">{{cafetales.cantidad_servicios}}</p>
                                            </div>                                 
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-6 col-sm-4 col-md-2 col-lg-2">
                                                <small class="text-muted p-t-30 db">Árboles maderables</small>
                                                <p class="">{{cafetales.cantidad_maderables}}</p>
                                            </div>
                                            <div class="col-xs-6 col-sm-4 col-md-2 col-lg-2">
                                                <small class="text-muted p-t-30 db">Árboles frutales</small>
                                                <p class="">{{cafetales.cantidad_frutales}}</p>
                                            </div>
                                            <div class="col-xs-6 col-sm-4 col-md-2 col-lg-2">
                                                <small class="text-muted p-t-30 db">Árboles banano</small>
                                                <p class="">{{cafetales.cantidad_banano}}</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="table-responsive">
                                                    <table class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
                                                        <thead>
                                                            <tr>
                                                                <th>N° Aplicación</th>
                                                                <th>Mes</th>
                                                                <th>Tipo</th>
                                                                <th>Fórmula</th>
                                                                <th>Cantidad</th>
                                                                <th>Dosis por planta</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            
                                                                {% for x in cafetales.numeroaplicaciones_set.all %}
                                                                    {% for apli in x.aplicaciones_set.all %}
                                                                    <tr>
                                                                        {% if forloop.counter == 1 %}
                                                                        <td>{{x.numero_aplicacion}}</td>
                                                                        <td>{{x.mes}}</td> 
                                                                        {% else %}
                                                                        <td></td>
                                                                        <td></td>
                                                                        {% endif %}
                                                                        
                                                                        <td>{{apli.tipo_aplicacion.nombre}}</td>
                                                                        <td>{{apli.tipo_aplicacion.tipo}}</td>
                                                                        <td>{{apli.cantidad}} {{apli.tipo_aplicacion.unidad_medida}}</td>
                                                                        <td>{% if apli.tipo_aplicacion.tipo == 'Edáfica' %}{{apli|dosis_planta}}{% endif %}</td>
                                                                    </tr>
                                                                    {% endfor %}
                                                                {% endfor %}
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}
                                      </div>
                                    </div>
                                </div>
                            {% endfor %}
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="table-responsive">
                                        <h4>Totales</h4>
                                        <table class="display nowrap table table-hover table-striped table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>Producción</th>
                                                    <th>Cantidad</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>Café</td>
                                                    <td>{{prod_cafe}} qq</td>
                                                </tr>
                                                <tr>
                                                    <td>Bananos</td>
                                                    <td>{{banano}} racimos</td>
                                                </tr>
                                                <tr>
                                                    <td>Leña</td>
                                                    <td>{{lenia}} cargas</td>
                                                </tr>
                                                {% for x in list_balance %}
                                                <tr>
                                                    <td>{{x.0}}</td>
                                                    <td>{{x.1}} unidades</td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane" id="asist" role="tabpanel">
                        <div class="perfildata">
                            <div class="accordion" id="accordion-asist">
                            {% for obj in asist %}
                            <div class="card">
                                <div class="card-header" id="heading{{forloop.counter}}-asist">
                                  <h2 class="mb-0">
                                    <button class="btn btn-link {% if forloop.counter > 1 %}collapsed{% endif %}" type="button" data-toggle="collapse" data-target="#collapse{{forloop.counter}}-asist" aria-expanded="true" aria-controls="collapse{{forloop.counter}}">
                                      {{obj.fecha_visita}}
                                    </button>
                                  </h2>
                                </div>
                                <div id="collapse{{forloop.counter}}-asist" class="collapse {% if forloop.counter == 1 %}show{% endif %}" aria-labelledby="heading{{forloop.counter}}-asist" data-parent="#accordion-asist">
                                  <div class="card-body">
                                     <div class="row">
                                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                                            <small class="text-muted p-t-30 db">Tipo visita</small>
                                            <p class="">{{obj.tipo_visita}}</p>
                                        </div>
                                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                                            <small class="text-muted p-t-30 db">Tipo</small>
                                            <p class="">{{obj.tipo}}</p>
                                        </div>
                                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                            <small class="text-muted p-t-30 db">Técnico</small>
                                            <p class="">{{obj.id_tecnico}}</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-6">
                                            <small class="text-muted p-t-30 db">Objetivos</small>
                                            <p class="">{% for x in obj.objetivo.all %}{{x}}{% if not forloop.last %}, {% endif %}{% endfor %}</p>
                                        </div>
                                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                            <small class="text-muted p-t-30 db">Situación encontrada</small>
                                            <p class="">{{obj.situacion_encontrada}}</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                            <small class="text-muted p-t-30 db">Acuerdos</small>
                                            <p class="">{{obj.acuerdos}}</p>
                                        </div>
                                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                            <small class="text-muted p-t-30 db">Recomendaciones</small>
                                            <p class="">{{obj.recomendaciones}}</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                            <small class="text-muted p-t-30 db">Observaciones</small>
                                            <p class="">{{obj.observaciones}}</p>
                                        </div>
                                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                                            <small class="text-muted p-t-30 db">Hora llegada</small>
                                            <p class="">{{obj.hora_llegada|time:"h:i a"}}</p>
                                        </div>
                                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                                            <small class="text-muted p-t-30 db">Hora salida</small>
                                            <p class="">{{obj.hora_salida|time:"h:i a"}}</p>
                                        </div>
                                    </div>
                                  </div>
                                </div>
                            </div>
                            {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Column -->
</div>

{% endblock content %}

{% block extra_js %}
<script src = "/static/js/leaflet.js"></script>

<script>
  $('#floorplanSelect').on('change', function(e) {
    $('.tab-pane').removeClass('active in')
    $('#' + $(e.currentTarget).val()).addClass("active in");
  });

{% if object.latitud and object.longitud %}
var map = L.map('map').setView([{{object.latitud}}, {{object.longitud}}], 12);
mapLink = '<a href="http://openstreetmap.org">OpenStreetMap</a>';
{% elif poly %}
var mapOptions = {
    center: {{list.0}},
    zoom: 14
 };
var map = new L.map('map', mapOptions);

{% endif %}


{% if object.latitud and object.longitud %}
    
    L.tileLayer(
        'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; ' + mapLink + ' Contributors',
        maxZoom: 18,
        }).addTo(map);
		marker = new L.marker([{{object.latitud}}, {{object.longitud}}]).addTo(map);
{% endif %}

{% if poly %}
var layer = new L.TileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png');
 map.addLayer(layer);
 
 // Creating latlng object
 var latlang = [
 	{% for x in poly %}
		[{% for c in x.mpoly.coords.0.0 %}
			[{{c.1}},{{c.0}}]{% if not forloop.last %},{% endif %}
		{% endfor %}],
		
	{% endfor %}
 ];
 
var polygon = L.polygon(latlang).addTo(map);

{% endif %}

</script>

<script>
Highcharts.chart('frutos', {
    chart: {
        type: 'column'
    },
    title: {
        text: 'Daños en frutos y bandolas'
    },
    xAxis: {
        categories: ['Porcentaje',]
    },
    yAxis: {
        title: {
            text: ''
        },
        max: 100,
    },
    credits: {
        enabled: false
    },
    plotOptions: {
        series: {
            borderWidth: 0,
            dataLabels: {
                enabled: true,
                format: '{point.y} %'
            }
        }
    },
    series: [
    {% for k,v in frutos.items %}
    {name: '{{k}}',data: [{{v}},],},
    {% endfor %}


    ],
});

Highcharts.chart('foliar', {
    chart: {
        type: 'column'
    },
    title: {
        text: 'Daños foliar'
    },
    xAxis: {
        categories: ['Porcentaje',]
    },
    yAxis: {
        title: {
            text: ''
        },
        max: 100,
    },
    credits: {
        enabled: false
    },
    plotOptions: {
        series: {
            borderWidth: 0,
            dataLabels: {
                enabled: true,
                format: '{point.y} %'
            }
        }
    },
    series: [
    {% for k,v in foliares.items %}
    {name: '{{k}}',data: [{{v}},],},
    {% endfor %}


    ],
});

Highcharts.chart('forestales', {
    chart: {
        type: 'column'
    },
    title: {
        text: 'Cantidad de forestales por especie'
    },
    xAxis: {
        categories: ['Cantidad',]
    },
    yAxis: {
        title: {
            text: 'Plantas '
        }
    },
    credits: {
        enabled: false
    },
    plotOptions: {
        series: {
            borderWidth: 0,
            dataLabels: {
                enabled: true,
                format: '{point.y}'
            }
        }
    },
    series: [
    {% for x in lista_forestal %}
    {name: '{{x.0}} ({{x.2}} %)',data: [{{x.1}},],},
    {% endfor %}
    
    
    ],
});

Highcharts.chart('frutales', {
    chart: {
        type: 'column'
    },
    title: {
        text: 'Cantidad de frutales por especie'
    },
    xAxis: {
        categories: ['Cantidad',]
    },
    yAxis: {
        title: {
            text: 'Plantas '
        }
    },
    credits: {
        enabled: false
    },
    plotOptions: {
        series: {
            borderWidth: 0,
            dataLabels: {
                enabled: true,
                format: '{point.y}'
            }
        }
    },
    series: [
    {% for x in lista_frutales %}
    {name: '{{x.0}} ({{x.2}} %)',data: [{{x.1}},],},
    {% endfor %}
    
    
    ],
});

Highcharts.chart('forestales-mant', {
    chart: {
        type: 'column'
    },
    title: {
        text: 'Cantidad de forestales por especie'
    },
    xAxis: {
        categories: ['Cantidad',]
    },
    yAxis: {
        title: {
            text: 'Plantas '
        }
    },
    credits: {
        enabled: false
    },
    plotOptions: {
        series: {
            borderWidth: 0,
            dataLabels: {
                enabled: true,
                format: '{point.y}'
            }
        }
    },
    series: [
    {% for x in lista_forestal_mant %}
    {name: '{{x.0}} ({{x.2}} %)',data: [{{x.1}},],},
    {% endfor %}
    
    
    ],
});

Highcharts.chart('frutales-mant', {
    chart: {
        type: 'column'
    },
    title: {
        text: 'Cantidad de frutales por especie'
    },
    xAxis: {
        categories: ['Cantidad',]
    },
    yAxis: {
        title: {
            text: 'Plantas '
        }
    },
    credits: {
        enabled: false
    },
    plotOptions: {
        series: {
            borderWidth: 0,
            dataLabels: {
                enabled: true,
                format: '{point.y}'
            }
        }
    },
    series: [
    {% for x in lista_frutales_mant %}
    {name: '{{x.0}} ({{x.2}} %)',data: [{{x.1}},],},
    {% endfor %}
    
    
    ],
});
 </script> 

 <script>
Highcharts.chart('diagnostico-graf', {
    chart: {
        type: 'column'
    },
    title: {
        text: 'Estado de las plantaciones'
    },
    xAxis: {
        categories: ['Porcentajes',]
    },
    yAxis: {
        title: {
            text: ''
        }
    },
    credits: {
        enabled: false
    },
    plotOptions: {
        series: {
            borderWidth: 0,
            dataLabels: {
                enabled: true,
                format: '{point.y} %'
            }
        }
    },
    series: [
    {name: 'Plantas productivas',data: [{{porcentaje_plantas_prod|floatformat:2}},]},
    {name: 'Poda ligera',data: [{{porcentaje_plantas_poda_ligera|floatformat:2}},]},
    {name: 'Plantas que necesitan recepo',data: [{{porcentaje_plantas_recepo|floatformat:2}},]},
    {name: 'Plantas que requieren resiembra',data: [{{porcentaje_planta_requiere_resiembra|floatformat:2}},]},
    {name: 'Plantas jóvenes o de recepo reciente',data: [{{porcentaje_planta_joven|floatformat:2}},]},
    {name: 'Fallas físicas',data: [{{porcentaje_falla_fisica|floatformat:2}},]},
    {name: 'Sombra',data: [{{porcentaje_sombra|floatformat:2}},]},


    ],
});
 </script>

	
{% endblock extra_js %}