{% extends "base.html" %}

{% block side_bar %}
{% include "sidebar.html" %}
{% endblock side_bar %}

{% block content %}
<div class="row page-titles">
	<div class="col-md-5 align-self-center">
		<h4 class="text-themecolor">Diagnóstico productivo</h4>
	</div>
    <!--<div class="col-md-7 align-self-center text-right">
        <div class="d-flex justify-content-end align-items-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Inicio</a></li>
                <li class="breadcrumb-item"><a href="javascript:void(0)">Mantenimiento</a></li>
                <li class="breadcrumb-item active">Monitoreo en campo</li>
            </ol>
        </div>
    </div>-->
</div>

{% include "filtros_seleccionados.html" %}

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <form action="." method="POST">{% csrf_token %}
                    <div class="row">
                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                            <div class="form-group has-success">
                                <label class="card-title">Fecha inicio</label>
                                {{form.inicio}}
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                            <div class="form-group has-success">
                                <label class="card-title">Fecha fin</label>
                                {{form.fin}}
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                            {% if request.user.is_authenticated %}
                            <div class="form-group has-success">
                                <label class="card-title">Técnicos</label>
                                {{form.tecnicos}}
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    <button type="submit" class="btn btn-success"> <i class="fa fa-filter"></i> Consultar</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!--<div class="row">
	<div class="col-lg-12">
		<div class="card">
			<div class="card-body">
				<h4>Plantas productivas</h4> 
				<div class="pull-right">{{porcentaje_plantas_prod|floatformat:2}}% <i class="fa fa-level-up text-success"></i>
				</div>
				<div class="progress">
					<div class="progress-bar bg-success" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:{{porcentaje_plantas_prod|floatformat:2}}%; height: 6px;"> <span class="sr-only">{{porcentaje_plantas_prod|floatformat:2}} productividad</span>
					</div>
				</div>

				<br>

				<h4>Plantas que necesitan poda ligera</h4> 
				<div class="pull-right">{{porcentaje_plantas_poda_ligera|floatformat:2}}% <i class="fa fa-level-up text-success"></i>
				</div>
				<div class="progress">
					<div class="progress-bar bg-success" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:{{porcentaje_plantas_poda_ligera|floatformat:2}}%; height: 6px;"> <span class="sr-only">{{porcentaje_plantas_prod|floatformat:2}} Poda</span>
					</div>
				</div>

				<br>

				<h4>Plantas que necesitan recepo</h4> 
				<div class="pull-right">{{porcentaje_plantas_recepo|floatformat:2}}% <i class="fa fa-level-up text-success"></i>
				</div>
				<div class="progress">
					<div class="progress-bar bg-success" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:{{porcentaje_plantas_recepo|floatformat:2}}%; height: 6px;"> <span class="sr-only">{{porcentaje_plantas_recepo|floatformat:2}} Recepo</span>
					</div>
				</div>
				<br>

				<h4>Plantas que requieren resiembra</h4> 
				<div class="pull-right">{{porcentaje_planta_requiere_resiembra|floatformat:2}}% <i class="fa fa-level-up text-success"></i>
				</div>
				<div class="progress">
					<div class="progress-bar bg-success" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:{{porcentaje_planta_requiere_resiembra|floatformat:2}}%; height: 6px;"> <span class="sr-only">{{porcentaje_planta_requiere_resiembra|floatformat:2}} Resiembra</span>
					</div>
				</div>
				<br>

				<h4>Plantas jóvenes o de recepo reciente</h4> 
				<div class="pull-right">{{porcentaje_planta_joven|floatformat:2}}% <i class="fa fa-level-up text-success"></i>
				</div>
				<div class="progress">
					<div class="progress-bar bg-success" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:{{porcentaje_planta_joven|floatformat:2}}%; height: 6px;"> <span class="sr-only">{{porcentaje_planta_joven|floatformat:2}} Recepo</span>
					</div>
				</div>
				<br>

				<h4>Fallas físicas</h4> 
				<div class="pull-right">{{porcentaje_falla_fisica|floatformat:2}}% <i class="fa fa-level-up text-success"></i>
				</div>
				<div class="progress">
					<div class="progress-bar bg-danger" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:{{porcentaje_plantas_recepo|floatformat:2}}%; height: 6px;"> <span class="sr-only">{{porcentaje_falla_fisica|floatformat:2}} Recepo</span>
					</div>
				</div>
				<br>

				<h4>Sombra</h4> 
				<div class="pull-right">{{porcentaje_sombra|floatformat:2}}% <i class="fa fa-level-up text-success"></i>
				</div>
				<div class="progress">
					<div class="progress-bar bg-dark" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:{{porcentaje_sombra|floatformat:2}}%; height: 6px;"> <span class="sr-only">{{porcentaje_sombra|floatformat:2}} Recepo</span>
					</div>
				</div>			
			</div>	
		</div>
	</div>
</div>-->

<div class="row">
	<div class="col-lg-12">
		<div class="card">
			<div class="card-body">
				<div id="diagnostico" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
			</div>
		</div>	
	</div>
</div>

{% if request.user.is_authenticated %}
<div class="row">
	<div class="col-lg-12">
		<div class="card">
			<div class="card-body">
				<h4 class="card-title">DIAGNÓSTICOS PRODUCTIVOS</h4>
				<div class="table-responsive">
					<table class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
						<thead>
							<tr>
								<th>Responsable AT</th>
								<th>femenino</th>
								<th>masculino</th>
								<th>Total general</th>
							</tr>
						</thead>
						<tbody>
							{% for x in lista %}
							<tr>
								<td>{{x.0}}</td>
								<td>{{x.1}}</td>
								<td>{{x.2}}</td>
								<td>{{x.3}}</td>
							</tr>
							{% endfor %}
							
							<tr>
								<th>TOTAL</th>
								<th>{{total_femenino}}</th>
								<th>{{total_masculino}}</th>
								<th>{{total_general}}</th>
							</tr>
						</tbody>
					</table>
				</div>
				
			</div>	
		</div>
	</div>	
</div>
{% endif %}

{% endblock content %}

{% block extra_js %}
<script>
$("select").addClass("form-control");

Highcharts.chart('diagnostico', {
	chart: {
		type: 'column'
	},
	title: {
		text: 'Estado de las plantaciones'
	},
	xAxis: {
		categories: ['Porcentajes',]
	},
	yAxis: {
		title: {
			text: ''
		}
	},
	credits: {
		enabled: false
	},
	plotOptions: {
		series: {
			borderWidth: 0,
			dataLabels: {
				enabled: true,
				format: '{point.y} %'
			}
		}
	},
	series: [
	{name: 'Plantas productivas',data: [{{porcentaje_plantas_prod|floatformat:2}},],},
	{name: 'Poda ligera',data: [{{porcentaje_plantas_poda_ligera|floatformat:2}},],},
	{name: 'Plantas que necesitan recepo',data: [{{porcentaje_plantas_recepo|floatformat:2}},],},
	{name: 'Plantas que requieren resiembra',data: [{{porcentaje_planta_requiere_resiembra|floatformat:2}},],},
	{name: 'Plantas jóvenes o de recepo reciente',data: [{{porcentaje_planta_joven|floatformat:2}},],},
	{name: 'Fallas físicas',data: [{{porcentaje_falla_fisica|floatformat:2}},],},
	{name: 'Sombra',data: [{{porcentaje_sombra|floatformat:2}},],},


	],
});
</script>
{% endblock extra_js %}