{% extends "base.html" %}

{% block side_bar %}
{% include "sidebar.html" %}
{% endblock side_bar %}

{% block content %}
<div class="row page-titles">
	<div class="col-md-5 align-self-center">
		<h4 class="text-themecolor">Monitoreo de Plagas y Enfermedades</h4>
	</div>
</div>

{% include "filtros_seleccionados.html" %}

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <form action="." method="POST">{% csrf_token %}
                    <div class="row">
                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                            <div class="form-group has-success">
                                <label class="card-title">Fecha inicio</label>
                                {{form.inicio}}
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                            <div class="form-group has-success">
                                <label class="card-title">Fecha fin</label>
                                {{form.fin}}
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                            {% if request.user.is_authenticated %}
                            <div class="form-group has-success">
                                <label class="card-title">Técnicos</label>
                                {{form.tecnicos}}
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    <button type="submit" class="btn btn-success"> <i class="fa fa-filter"></i> Consultar</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <div id="frutos" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
            </div>
        </div>  
    </div>

    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <div id="foliar" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
            </div>
        </div>  
    </div>
</div>

{% endblock content %}

{% block extra_js %}
 <script>
Highcharts.chart('frutos', {
    chart: {
        type: 'column'
    },
    title: {
        text: 'Daños en frutos y bandolas'
    },
    xAxis: {
        categories: ['Porcentaje',]
    },
    yAxis: {
        title: {
            text: ''
        },
        max: 100,
    },
    credits: {
        enabled: false
    },
    plotOptions: {
        series: {
            borderWidth: 0,
            dataLabels: {
                enabled: true,
                format: '{point.y} %'
            }
        }
    },
    series: [
    {% for k,v in frutos.items %}
    {name: '{{k}}',data: [{{v}},],},
    {% endfor %}


    ],
});

Highcharts.chart('foliar', {
    chart: {
        type: 'column'
    },
    title: {
        text: 'Daños foliar'
    },
    xAxis: {
        categories: ['Porcentaje',]
    },
    yAxis: {
        title: {
            text: ''
        },
        max: 100,
    },
    credits: {
        enabled: false
    },
    plotOptions: {
        series: {
            borderWidth: 0,
            dataLabels: {
                enabled: true,
                format: '{point.y} %'
            }
        }
    },
    series: [
    {% for k,v in foliares.items %}
    {name: '{{k}}',data: [{{v}},],},
    {% endfor %}


    ],
});
 </script>   
{% endblock extra_js %}