<div class="card">
    <div class="card-body">
        <h4 class="card-title pointer-mouse" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">Filtros Seleccionados <i class="fa fa-angle-down"></i></h4>
        <div class="collapse" id="collapseExample">
            <ul class="list-inline">
                {% if request.session.sexo %}
                    <li><strong>Sexo: </strong>{{request.session.sexo}}</li>
                {% else %}
                    <li><strong>Sexo: </strong>Ambos</li>
                {% endif %}
                
                {% if request.session.departamento %}
                    <li><strong>Departamento: </strong> {% for x in request.session.departamento %}{{x}}{% if not forloop.last %}, {% endif %}{% endfor %}</li>
                {% endif %}
                
                {% if request.session.municipio %}
                    <li><strong>Municipio: </strong> {% for x in request.session.municipio %}{{x.nombre}}{% if not forloop.last %}, {% endif %}{% endfor %}</li>
                {% else %}
                    <li><strong>Municipio: </strong>Todos</li>
                {% endif %}
                
                {% if request.session.comunidad %}
                    <li><strong>Comunidad: </strong> {% for x in request.session.comunidad %}{{x.nombre}}{% if not forloop.last %}, {% endif %}{% endfor %}</li>
                {% else %}
                    <li><strong>Comunidad: </strong>Todos</li>
                {% endif %}


                {% if request.session.estado %}
                    <li><strong>Estado: </strong>{{request.session.estado}}</li>
                {% else %}
                    <li><strong>Estado: </strong>Todos</li>
                {% endif %}

                <!--{% if request.session.tipo %}
                    <li><strong>Tipo: </strong>{{request.session.tipo}}</li>
                {% else %}
                    <li><strong>Tipo: </strong>Todos</li>
                {% endif %}-->
            </ul>
        </div>
    </div>
</div>