{% extends "base.html" %}

{% block extra_css %}
<link rel = "stylesheet" href = "/static/css/bootstrap-multiselect.css"/>
<style type="text/css">
@media (min-width: 1024px){
	.footer, .page-wrapper {
		margin-left: 0px;
	}
}

@media (min-width: 768px){
	.mini-sidebar .footer, .mini-sidebar .page-wrapper {
		margin-left: 0px;
	}
}
</style>
{% endblock extra_css %}

{% block content %}	

<div class="container pt-4 pb-4 pr-4 pl-4 mt-3">
	
	<!-- Row -->
	<div class="row">
		<div class="col-lg-12">
			<div class="card">
				<div class="card-header bg-info">
					<h4 class="m-b-0 text-white">Filtro de datos</h4>
				</div>
				<div class="card-body">
					<form class="form-horizontal" action="." method="post" role="form">{% csrf_token %}
						<div class="form-body">

							<!--/row-->
							<div class="row">
								<div class="col-md-4">
									<div class="form-group has-success">
										<label class="control-label">Departamento</label>
										{{form.departamento}}
									</div>
								</div>
								<div class="col-md-4">
									<div class="form-group has-success">
										<label class="control-label">Municipio</label>
										{{form.municipio}}
									</div>
								</div>
								<div class="col-md-4">
									<div class="form-group has-success">
										<label class="control-label">Comunidad</label>
										{{form.comunidad}}
									</div>
								</div>

							</div>
							<!--/row-->
							<div class="row">
								<div class="col-md-4">
									<div class="form-group has-success">
										<label class="control-label">Estado</label>
										{{form.estado}}
									</div>
								</div>
								<!--/span-->
								<!--<div class="col-md-4">
									<div class="form-group has-success">
										<label class="control-label">Tipo</label>
										{{form.tipo}}
									</div>
								</div>-->
								<!--/span-->
								<div class="col-md-4">
									<div class="form-group">
										<label class="control-label">Sexo</label>
                                        <!--<div class="custom-control custom-radio">
                                            <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
                                            <label class="custom-control-label" for="customRadio1">Masculino</label>
                                        </div>
                                        <div class="custom-control custom-radio">
                                            <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input">
                                            <label class="custom-control-label" for="customRadio2">Femenino</label>
                                        </div>-->
                                        {{form.sexo}}
                                    </div>
                                </div>
                                <!--/span-->
                            </div>

                        </div>
                        <div class="form-actions">
                        	<button type="submit" class="btn btn-success"> <i class="fa fa-filter"></i> Filtar datos</button>
                        	<a href="/consulta/" class="btn btn-danger"><i class="fa fa-redo-alt"></i> Cancelar</a>
                        </div>
                    </form>

                     {% if filtro == 1 %}
                    <hr>
				    <div class="row">
				    	<div class="col-lg-12">
				    		<div class="card-group">
				    			<div class="p-10">
				    				<a class="btn btn-primary" href="/renovacion/"><i class=" fas fa-seedling"></i> Renovación</a>
				    			</div>
				    			<div class="p-10">
				    				<a class="btn btn-primary" href="/mantenimiento/"><i class="fas fa-hammer"></i> Mantenimiento</a>
				    			</div>
				    			<div class="p-10">
				    				<a class="btn btn-primary" href="/monitoreo-campo/"><i class="fas fa-percentage"></i> Monitoreo de campo</a>
				    			</div>
				    			<div class="p-10">
				    				<a class="btn btn-primary" href="/capacitaciones/"><i class="fas fa-chalkboard-teacher"></i> Capacitaciones</a>
				    			</div>
				    			<div class="p-10">
				    				<a class="btn btn-primary" href="/diagnostico-productivo/"><i class="fas fa-file-medical-alt"></i> Diagnóstico productivo</a>
				    			</div>
				    			<div class="p-10">
				    				<a class="btn btn-primary" href="/estimado-cosecha/"><i class="fab fa-pagelines"></i> Monitoreo de Plagas y Enfermedades</a>
				    			</div>
				    			<div class="p-10">
				    				<a class="btn btn-primary" href="/balance-nutrientes/"><i class="fas fa-balance-scale"></i> Balance de nutrientes</a>
				    			</div>
				    			<div class="p-10">
				    				<a class="btn btn-primary" href="/inventario-forestal/"><i class="fab fa-pagelines"></i> Inventario forestal</a>
				    			</div>
				    			<div class="p-10">
				    				<a class="btn btn-primary" href="/asistencia-tecnica/"><i class="fas fa-hands-helping"></i>  Asistencia Técnica</a>
				    			</div>	
				    			{% if request.user.is_superuser %}
				    			<div class="p-10">
				    				<a class="btn btn-primary" href="/perfiles/"><i class="fas fa-users"></i>  Perfiles</a>
				    			</div>	
				    			{% endif %}
				    		</div>		

				    	</div>
				    </div>
				    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <!-- Row -->

   
</div>




{% endblock content %}

{% block extra_js %}
<script src="/static/js/bootstrap-multiselect.js" type="text/javascript"></script>
<script>
$("select").addClass("form-control");

$("#id_departamento").addClass("form-control").multiselect({
	buttonWidth: '100%',
	includeSelectAllOption: true,
	selectAllText: "Seleccionar todos",
	buttonText: function(options, select) {
		if (options.length === 0) {
			return "Sin selección ...";
		}
		else if (options.length > 3) {
			return "Varias opciones seleccionadas!";
		}
		else {
			var labels = [];
			options.each(function() {
				if ($(this).attr('label') !== undefined) {
					labels.push($(this).attr('label'));
				}
				else {
					labels.push($(this).html());
				}
			});
			return labels.join(', ') + '';
		}
	}
});

$("#id_municipio").addClass("form-control").multiselect({
	buttonWidth: '100%',
	includeSelectAllOption: true,
	selectAllText: "Seleccionar todos",
	buttonText: function(options, select) {
		if (options.length === 0) {
			return "Sin selección ...";
		}
		else if (options.length > 3) {
			return "Varias opciones seleccionadas!";
		}
		else {
			var labels = [];
			options.each(function() {
				if ($(this).attr('label') !== undefined) {
					labels.push($(this).attr('label'));
				}
				else {
					labels.push($(this).html());
				}
			});
			return labels.join(', ') + '';
		}
	}
});

$("#id_comunidad").addClass("form-control").multiselect({
	buttonWidth: '100%',
	includeSelectAllOption: true,
	selectAllText: "Seleccionar todos",
	buttonText: function(options, select) {
		if (options.length === 0) {
			return "Sin selección ...";
		}
		else if (options.length > 3) {
			return "Varias opciones seleccionadas!";
		}
		else {
			var labels = [];
			options.each(function() {
				if ($(this).attr('label') !== undefined) {
					labels.push($(this).attr('label'));
				}
				else {
					labels.push($(this).html());
				}
			});
			return labels.join(', ') + '';
		}
	}
});

$("#id_municipio").multiselect('disable');
$("#id_comunidad").multiselect('disable');

var foo1 = [];
$(document).on('change','#id_departamento',function(){
	$('#id_departamento :selected').each(function(i, selected){
		foo1[i] = $(selected).val();
		$('#id_municipio').multiselect('rebuild');
	});
	$.getJSON('/ajax/municipios/?ids='+foo1.join(","), function(data){
		$('#id_municipio').html('');
		$('#id_municipio').multiselect('enable');
		$("#id_municipio").multiselect('refresh');
		var comunidad = $('#id_municipio');
		if(data){
			$.each(data, function(i, item){

				$.each(item, function(j, item2){
					var group = $('<optgroup></optgroup>').attr('label', j);
					$.each(item2, function(k, item3){
						group.append($('<option></option>').val(item3.id).html(item3.nombre));
					});
					group.appendTo(comunidad);
					$('#id_municipio').multiselect('rebuild');
				});
			});
		}
	});
});

var foo = [];
$(document).on('change','#id_municipio',function(){
	$('#id_municipio :selected').each(function(i, selected){
		foo[i] = $(selected).val();
		$('#id_comunidad').multiselect('rebuild');
	});
	$.getJSON('/ajax/comunidades/?ids='+foo.join(","), function(data){
		$('#id_comunidad').html('');
		$('#id_comunidad').multiselect('enable');
		$("#id_comunidad").multiselect('refresh');
		var comunidad = $('#id_comunidad');
		if(data){
			$.each(data, function(i, item){

				$.each(item, function(j, item2){
					var group = $('<optgroup></optgroup>').attr('label', j);
					$.each(item2, function(k, item3){
						group.append($('<option></option>').val(item3.id).html(item3.nombre));
					});
					group.appendTo(comunidad);
					$('#id_comunidad').multiselect('rebuild');
				});
			});
		}
	});
});
</script>
{% endblock extra_js %}