{% extends "base.html" %}

{% block extra_css %}
<style type="text/css">
    @media (min-width: 1024px){
        .footer, .page-wrapper {
            margin-left: 0px;
        }
    }

    @media (min-width: 768px){
        .mini-sidebar .footer, .mini-sidebar .page-wrapper {
            margin-left: 0px;
        }
    }
</style>
<script src = "/static/js/leaflet.js"></script>
{% endblock extra_css %}

{% block content %}
<div>
	<style>
		#map { height: 400px; }
	</style>
	

</div>

<div class="container pt-4 pb-4 pr-4 pl-4 mt-3">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
            <div class="row">
                <!-- Column -->
                <div class="col-lg-12 col-md-12 mb-1">
                    <a href="" class="card bg-cafe text-white mb-0">
                        <div class="card-body pb-0 p-t-5">
                            <div class="row weather">
                                <div class="col-6 m-t-0">
                                    <h3>&nbsp;</h3>
                                    <div class="display-4"><i class=" fas fa-users"></i></div>
                                    <p class="text-white">Base de Productores</p>
                                </div>
                                <div class="col-6 text-right">
                                    <h1 class="m-b-">{{registros}}</h1>
                                    <b class="text-white">Registros</b>


                                </div>
                            </div>
                        </div>
                        <!--<div class="card-footer p-t-5 p-b-5">
                            <small class="text-white float-right">Acceder</small>
                        </div>-->
                    </a>
                </div>

                <!-- Column -->
                <div class="col-lg-12 col-md-12 mb-1">
                    <a href=""class="card bg-verde text-white mb-0">
                        <div class="card-body  pb-0 p-t-5">
                            <div class="row weather">
                                <div class="col-6 m-t-0">
                                    <h3>&nbsp;</h3>
                                    <div class="display-4"><i class=" fas fa-seedling"></i></div>
                                    <p class="text-white">Renovación</p>
                                </div>
                                <div class="col-6 text-right">
                                    <h1 class="m-b-">{{renovacion}}</h1>
                                    <b class="text-white">Productores</b>

                                </div>
                            </div>
                        </div>
                        <!--<div class="card-footer p-t-5 p-b-5">
                            <small class="text-white float-right">Acceder</small>
                        </div>-->
                    </a>
                </div>
                <!-- Column -->
                <div class="col-lg-12 col-md-12 mb-1">
                    <a href="" class="card bg-pinklow text-white mb-0">
                        <div class="card-body  pb-0 p-t-5">
                            <div class="row weather">
                                <div class="col-6 m-t-0">
                                    <h3>&nbsp;</h3>
                                    <div class="display-4"><i class="fas fa-hammer"></i></div>
                                    <p class="text-white">Mantenimiento</p>
                                </div>
                                <div class="col-6 text-right">
                                    <h1 class="m-b-">{{mantenimiento}}</h1>
                                    <b class="text-white">Productores</b>

                                </div>
                            </div>
                        </div>
                        <!--<div class="card-footer p-t-5 p-b-5">
                            <small class="text-white float-right">Acceder</small>
                        </div>-->
                    </a>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-8">
            <div class="card">
                <div class="card-body m-b-10">
                    <h3 class="card-title">Mapeo de asociados</h3>
                    <div id="map"></div>
                </div>
            </div>
            
        </div>
        
    </div>
    {% if request.user.is_authenticated %}
    <div class="row">
    	<div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">MUNICIPIO PRODUCTORES CON COORDENADAS</h4>

                    <div class="table-responsive" id="export">
                        <table class="display nowrap table table-hover table-striped table-bordered " cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th colspan="1">Municipio</th>
                                    <th colspan="3">Mantenimiento</th>
                                    <th colspan="3">Renovación</th>
                                    <th>Total</th>
                                </tr>
                                <tr>
                                    <th></th>
                                    <th>Mujeres</th>
                                    <th>Hombres</th>
                                    <th>Total</th>
                                    <th>Mujeres</th>
                                    <th>Hombres</th>
                                    <th>Total</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for x in list %}
                                <tr>
                                    <td>{{x.0}}</td>
                                    <td>{{x.1}}</td>
                                    <td>{{x.2}}</td>
                                    <td>{{x.3}}</td>
                                    <td>{{x.4}}</td>
                                    <td>{{x.5}}</td>
                                    <td>{{x.6}}</td>
                                    <td>{{x.7}}</td>
                                </tr>
                                {% endfor %}
                                <tr>
                                    <th>Total general</th>
                                    <th>{{m_mujeres_mant}}</th>
                                    <th>{{m_hombres_mant}}</th>
                                    <th>{{m_total_mant}}</th>
                                    <th>{{m_mujeres_reno}}</th>
                                    <th>{{m_hombres_reno}}</th>
                                    <th>{{m_total_reno}}</th>
                                    <th>{{m_total_mant_reno}}</th>
                                </tr>
                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
		</div>

        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">RESPONSABLE AT DE PRODUCTORES CON CORDENADAS</h4>

                    <div class="table-responsive" id="export2">
                        <table class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%"> 
                            <thead>
                                <tr>
                                    <th colspan="1">Responsable AT</th>
                                    <th colspan="3">Mantenimiento</th>
                                    <th colspan="3">Renovación</th>
                                    <th>Total</th>
                                </tr>
                                <tr>
                                    <th></th>
                                    <th>Mujeres</th>
                                    <th>Hombres</th>
                                    <th>Total</th>
                                    <th>Mujeres</th>
                                    <th>Hombres</th>
                                    <th>Total</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for x in list_at %}
                                <tr>
                                    <td>{{x.0}}</td>
                                    <td>{{x.1}}</td>
                                    <td>{{x.2}}</td>
                                    <td>{{x.3}}</td>
                                    <td>{{x.4}}</td>
                                    <td>{{x.5}}</td>
                                    <td>{{x.6}}</td>
                                    <td>{{x.7}}</td>
                                </tr>
                                {% endfor %}
                                <tr>
                                    <th>Total general</th>
                                    <th>{{at_mujeres_mant}}</th>
                                    <th>{{at_hombres_mant}}</th>
                                    <th>{{at_total_mant}}</th>
                                    <th>{{at_mujeres_reno}}</th>
                                    <th>{{at_hombres_reno}}</th>
                                    <th>{{at_total_reno}}</th>
                                    <th>{{at_total_mant_reno}}</th>
                                </tr>
                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</div>
{% endblock content %}

{% block extra_js %}
<script>
	var map = L.map('map').setView([{{list_prod.0.0}}, {{list_prod.0.1}}], 11);
    mapLink = '<a href="http://openstreetmap.org">OpenStreetMap</a>';
    L.tileLayer(
        'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; ' + mapLink + ' Contributors',
        maxZoom: 18,
        }).addTo(map);

    var redIcon = new L.Icon({
	  iconUrl: 'https://cdn.rawgit.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-red.png',
	  shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
	  iconSize: [25, 41],
	  iconAnchor: [12, 41],
	  popupAnchor: [1, -34],
	  shadowSize: [41, 41]
	});

	var blueIcon = new L.Icon({
	  iconUrl: 'https://cdn.rawgit.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-blue.png',
	  shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
	  iconSize: [25, 41],
	  iconAnchor: [12, 41],
	  popupAnchor: [1, -34],
	  shadowSize: [41, 41]
	});

    //markers
    var markers = L.markerClusterGroup();
	{% for obj in list_prod %}
		// marker = new L.marker([{{obj.0}},{{obj.1}}], {icon: redIcon}).addTo(map).bindPopup("{{obj.2}} <br> Comunidad: {{obj.3}} <br> Áreas (mz): {{obj.4|floatformat:"2"}} <br> Áreas (ha): {{obj.5|floatformat:"2"}} ");

        
        var marker = L.marker(new L.LatLng({{obj.0}},{{obj.1}})).bindPopup("{{obj.2}} <br> Comunidad: {{obj.3}} <br> Áreas (mz): {{obj.4|floatformat:"2"}} <br> Áreas (ha): {{obj.5|floatformat:"2"}} ");
        markers.addLayer(marker);
	{% endfor %}
    map.addLayer(markers);

	// {% for obj in prod_renovacion %}
	// 	marker = new L.marker([{{obj.0}},{{obj.1}}], {icon: blueIcon}).addTo(map);
	// {% endfor %}
</script>	
{% endblock extra_js %}