{% extends "base.html" %}
{% load humanize %}

{% block side_bar %}
{% include "sidebar.html" %}
{% endblock side_bar %}

{% block content %}
<div class="row page-titles">
	<div class="col-md-5 align-self-center">
		<h4 class="text-themecolor">Inventario y SAF</h4>
	</div>
	<!--<div class="col-md-7 align-self-center text-right">
		<div class="d-flex justify-content-end align-items-center">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="javascript:void(0)">Inicio</a></li>
				<li class="breadcrumb-item"><a href="javascript:void(0)">Mantenimiento</a></li>
				<li class="breadcrumb-item active">Monitoreo en campo</li>
			</ol>
		</div>
	</div>-->
</div>
{% include "filtros_seleccionados.html" %}

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <form action="." method="POST">{% csrf_token %}
                    <div class="row">
                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                            <div class="form-group has-success">
                                <label class="card-title">Fecha inicio</label>
                                {{form.inicio}}
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                            <div class="form-group has-success">
                                <label class="card-title">Fecha fin</label>
                                {{form.fin}}
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                            {% if request.user.is_authenticated %}
                            <div class="form-group has-success">
                                <label class="card-title">Técnicos</label>
                                {{form.tecnicos}}
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    <button type="submit" class="btn btn-success"> <i class="fa fa-filter"></i> Consultar</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row">
	<div class="col-lg-12">
		<div class="card">
			<div class="card-body">
				<h4 class="card-title">Consolidado</h4>
				<div class="table-responsive">
					<table class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
						<thead>
							<tr>
								<th>Especie</th>
								<th>N° Arboles</th>
								<th>Suma de Ab(m²)</th>
								<th>Suma de Vol(m³)</th>
							</tr>
						</thead>
						<tbody>
							{% for x in list_especies %}
							<tr>
								<td>{{x.0}}</td>
								<td>{{x.1}}</td>
								<td>{{x.2|default:"0"}}</td>
								<td>{{x.3|default:"0"}}</td>
							</tr>
							{% endfor %}
							<tr>
								<th>Total</th>
								<th>{{arboles}}</th>
								<th>{{ab}}</th>
								<th>{{vol}}</th>
							</tr>
							
						</tbody>
					</table>
				</div>
			</div>
		</div>	
	</div>
</div>

<!--<div class="row">
	<div class="col-lg-12">
		<div class="card">
			<div class="card-body">
				<h4 class="card-title">Proyecciones de crecimiento según NTON 0.35 cm / Dap / año</h4>
				<div class="table-responsive">
					<table class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
						<thead>
							<tr>
								<th colspan="1">Especie</th>
								<th colspan="1">Dap (promedio)</th>
								<th colspan="1">Crecimiento anual</th>
								<th colspan="10">Años</th>
							</tr>
							<tr>
								<th></th>
								<th></th>
								<th></th>
								{% for x in rango %}
									<th>{{last_year|add:x}}</th>
								{% endfor %}
							</tr>
						</thead>
						<tbody>
							{% for x in proyecciones %}
							<tr>
								<td>{{x.0}}</td>
								<td>{{x.1}}</td>
								<td>{{x.2}}</td>
								{% for l in x.3 %}
									<td>{{l|floatformat:2}}</td>
								{% endfor %}
								
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>	
	</div>
</div>-->

<div class="row">
	<div class="col-lg-12">
		<div class="card">
			<div class="card-body">
				<h4 class="card-title">RESPONSABLE AT PARCELAS SAF-RENOVACIÓN</h4>
				<div class="table-responsive">
					<table class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
						<thead>
							<tr>
								<th>Responsable AT</th>
								<th>Número de inventarios</th>
								<th>Área (mz)</th>
								<th>Área (ha)</th>
								<th>Total Plantas entregadas</th>
								<th>Total Sobrevivencia</th>
								<th>Porcentaje Sobrevivencia</th>
							</tr>
						</thead>
						<tbody>
							{% for x in lista_at %}
							<tr>
								<td>{{x.0|default:'0'}}</td>
								<td>{{x.1|default:'0'}}</td>
								<td>{{x.2|default:'0'}}</td>
								<td>{{x.3|default:'0'|floatformat:2}}</td>
								<td>{{x.4|default:'0'}}</td>
								<td>{{x.5|default:'0'}}</td>
								<td>{{x.6|default:'0'}}%</td>
							</tr>
							{% endfor %}
							<tr>
								<th>Total general</th>
								<th>{{total_inventarios}}</th>
								<th>{{total_mz|floatformat:2}}</th>
								<th>{{total_ha|floatformat:2}}</th>
								<th>{{total_plantas}}</th>
								<th>{{total_sobre}}</th>
								<th>{{total_porcentaje}}%</th>
							</tr>
							
						</tbody>
					</table>
				</div>
			</div>
		</div>	
	</div>
</div>

<div class="row">
	<div class="col-lg-12">
		<div class="card">
			<div class="card-body">
				<h4 class="card-title">MUNICIPIO PARCELAS SAF-RENOVACIÓN</h4>
				<div class="table-responsive">
					<table class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
						<thead>
							<tr>
								<th>Municipio</th>
								<th>Número de inventarios</th>
								<th>Área (mz)</th>
								<th>Área (ha)</th>
								<th>Total Plantas entregadas</th>
								<th>Total Sobrevivencia</th>
								<th>Porcentaje Sobrevivencia</th>
							</tr>
						</thead>
						<tbody>
							{% for x in lista_mun %}
							<tr>
								<td>{{x.0|default:'0'}}</td>
								<td>{{x.1|default:'0'}}</td>
								<td>{{x.2|default:'0'}}</td>
								<td>{{x.3|default:'0'|floatformat:2}}</td>
								<td>{{x.4|default:'0'}}</td>
								<td>{{x.5|default:'0'}}</td>
								<td>{{x.6|default:'0'}}%</td>
							</tr>
							{% endfor %}
							<tr>
								<th>Total general</th>
								<th>{{mun_total_inventarios}}</th>
								<th>{{mun_total_mz|floatformat:2}}</th>
								<th>{{mun_total_ha|floatformat:2}}</th>
								<th>{{mun_total_plantas}}</th>
								<th>{{mun_total_sobre}}</th>
								<th>{{mun_total_porcentaje}}%</th>
							</tr>
							
						</tbody>
					</table>
				</div>
			</div>
		</div>	
	</div>
</div>

<div class="row">
	<div class="col-lg-12">
		<div class="card">
			<div class="card-body">
				<h4 class="card-title">RESPONSABLE AT SAF-RENOVACIÓN</h4>
				<div class="table-responsive">
					<table class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
						<thead>
							<tr>
								<th colspan="1">Responsable AT</th>
								<th colspan="3">Productores/as</th>
								<th colspan="3">Área (mz)</th>
								<th colspan="3">Área (ha)</th>
							</tr>
							<tr>
								<th></th>
								<th>H</th>
								<th>M</th>
								<th>Total</th>
								<th>H</th>
								<th>M</th>
								<th>Total mz</th>
								<th>H</th>
								<th>M</th>
								<th>Total ha</th>
							</tr>
						</thead>
						<tbody>
							{% for x in lista_at_2 %}
							<tr>
								<td>{{x.0}}</td>
								<td>{{x.1|default:'0'}}</td>
								<td>{{x.2|default:'0'}}</td>
								<td>{{x.3|default:'0'}}</td>
								<td>{{x.4|default:'0'}}</td>
								<td>{{x.5|default:'0'}}</td>
								<td>{{x.6|default:'0'}}</td>
								<td>{{x.7|default:'0'}}</td>
								<td>{{x.8|default:'0'}}</td>
								<td>{{x.9|default:'0'}}</td>
							</tr>
							{% endfor %}
							<tr>
								<th>Total general</th>
								{% for v in productores_total.values %}
								<th>{{v|floatformat:2|default:'0'}}</th>
								{% endfor %}
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>	
	</div>
</div>

<div class="row">
	<div class="col-lg-12">
		<div class="card">
			<div class="card-body">
				<h4 class="card-title">MUNICIPIO SAF-RENOVACIÓN</h4>
				<div class="table-responsive">
					<table class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
						<thead>
							<tr>
								<th colspan="1">Municipio</th>
								<th colspan="3">Productores/as</th>
								<th colspan="3">Área (mz)</th>
								<th colspan="3">Área (ha)</th>
							</tr>
							<tr>
								<th></th>
								<th>H</th>
								<th>M</th>
								<th>Total</th>
								<th>H</th>
								<th>M</th>
								<th>Total mz</th>
								<th>H</th>
								<th>M</th>
								<th>Total ha</th>
							</tr>
						</thead>
						<tbody>
							{% for x in lista_mun_2 %}
							<tr>
								<td>{{x.0}}</td>
								<td>{{x.1|default:'0'}}</td>
								<td>{{x.2|default:'0'}}</td>
								<td>{{x.3|default:'0'}}</td>
								<td>{{x.4|default:'0'}}</td>
								<td>{{x.5|default:'0'}}</td>
								<td>{{x.6|default:'0'}}</td>
								<td>{{x.7|default:'0'}}</td>
								<td>{{x.8|default:'0'}}</td>
								<td>{{x.9|default:'0'}}</td>
							</tr>
							{% endfor %}
							<tr>
								<th>Total general</th>
								{% for v in productores_mun_total.values %}
								<th>{{v|default:'0'}}</th>
								{% endfor %}
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>	
	</div>
</div>

<div class="row">
	<div class="col-sm-12 col-lg-4">
		<div class="card">
			<div class="card-body">
				<div id="area-inv" style="min-width: 310px; height: 300px; margin: 0 auto"></div>
				<div class="row">
					<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
						<div class="card">
				            <div class="box bg-info text-center">
				                <h3 class="font-light text-white">{{total_forestales|intcomma}}</h3>
				                <h6 class="text-white">Forestales</h6>
				            </div>
				        </div>
					</div>
					<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
						<div class="card">
				            <div class="box bg-success text-center">
				                <h3 class="font-light text-white">{{total_sobrevivencia|intcomma}}</h3>
				                <h6 class="text-white">Sobrevivencia</h6>
				            </div>
				        </div>
					</div>
				</div>
	  		</div>
  		</div>	
	</div>
	<div class="col-sm-12 col-lg-8">
		<div class="card">
			<div class="card-body">
				<div id="forestales" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
	  		</div>
  		</div>	
	</div>
</div>	

<div class="row">
		
</div>


{% endblock content %}

{% block extra_js %}
<script>
	Highcharts.chart('area-inv', {
	chart: {
		type: 'column'
	},
	title: {
		text: 'Área en Ha'
	},
	xAxis: {
		categories: ['Cantidad',]
	},
	yAxis: {
		title: {
			text: 'Áreas'
		}
	},
	credits: {
		enabled: false
	},
	plotOptions: {
		series: {
			borderWidth: 0,
			dataLabels: {
				enabled: true,
				format: '{point.y}'
			}
		}
	},
	series: [
	{name: 'Área ha',data: [{{area_ha_inv|floatformat:2}},],},
	{name: 'Área mz',data: [{{area_mz_inv|floatformat:2}},],},
	],
});

Highcharts.chart('forestales', {
    chart: {
        type: 'bar'
    },
    title: {
        text: 'Cantidad y sobrevivencia especies forestales'
    },
    xAxis: {
        categories: [{% for k in forestales.keys %}'{{k}}',{% endfor %}],
        title: {
            text: null
        }
    },
    yAxis: {
        min: 0,
        title: {
            text: 'Cantidad',
            align: 'high'
        },
        labels: {
            overflow: 'justify'
        }
    },
    plotOptions: {
        bar: {
            dataLabels: {
                enabled: true
            }
        }
    },
    legend: {
        layout: 'vertical',
        align: 'right',
        verticalAlign: 'top',
        x: -40,
        y: 80,
        floating: true,
        borderWidth: 1,
        backgroundColor: ((Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'),
        shadow: true
    },
    credits: {
        enabled: false
    },
    series: [
    {
        name: 'Total',
        data: [{% for v in forestales.values %}{{v.0}},{% endfor %}]
    }, {
        name: 'Sobrevivencia',
        data: [{% for v in forestales.values %}{{v.1}},{% endfor %}]
    }
    ]
});
</script>
{% endblock extra_js %}