{% extends "base.html" %}

{% block side_bar %}
{% include "sidebar.html" %}
{% endblock side_bar %}

{% block content %}
<div class="row page-titles">
  <div class="col-md-5 align-self-center">
    <h4 class="text-themecolor">Perfiles</h4>
  </div>
</div>
{% include "filtros_seleccionados.html" %}

<div class="row">
	<div class="col-lg-12">
		<div class="card">
			<div class="card-body">
				<form action="." method="POST">{% csrf_token %}
                <div class="form-group has-success">
                    <label class="card-title">Tipo</label>
                    {{form.tipo}}
                </div>
                <button type="submit" class="btn btn-success"> <i class="fa fa-filter"></i> Consultar</button>
            </form>
			</div>

		</div>
	</div>
</div>

<div class="row">
	<div class="col-lg-12">
		<div class="card">
			<div class="card-body">
				<h4 class="card-title">PERFILES</h4>
				<div class="table-responsive">
					<table class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
						<thead>
							<tr>
								<th>ID FA</th>
								<th>ID Aldea</th>
								<th>Nombre</th>
								<th>Cédula</th>
								<th>Sexo</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							{% for obj in lista %}
							<tr>
								<td>{{obj.id_fa|default:'---'}}</td>
								<td>{{obj.aldea|default:'---'}}</td>
								<td>{{obj.nombre}}</td>
								<td>{{obj.cedula|default:'---'}}</td>
								<td>{{obj.sexo}}</td>
								<td><a href="{% url 'detail-perfil' obj.id %}">Ver</a></td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
				
			</div>	
		</div>
	</div>	
</div>

{% endblock content %}

{% block extra_js %}
<script>
	$("select").addClass("form-control");
</script>
{% endblock extra_js %}