{% extends "base.html" %}

{% block side_bar %}
{% include "sidebar.html" %}
{% endblock side_bar %}

{% block content %}
<div class="row page-titles">
  <div class="col-md-5 align-self-center">
    <h4 class="text-themecolor">Monitoreo de Campo</h4>
  </div>
    <!--<div class="col-md-7 align-self-center text-right">
        <div class="d-flex justify-content-end align-items-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Inicio</a></li>
                <li class="breadcrumb-item"><a href="javascript:void(0)">Mantenimiento</a></li>
                <li class="breadcrumb-item active">Monitoreo en campo</li>
            </ol>
        </div>
      </div>-->
    </div>
    {% include "filtros_seleccionados.html" %}

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <form action="." method="POST">{% csrf_token %}
                    <div class="row">
                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                            <div class="form-group has-success">
                                <label class="card-title">Fecha inicio</label>
                                {{form.inicio}}
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                            <div class="form-group has-success">
                                <label class="card-title">Fecha fin</label>
                                {{form.fin}}
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                            {% if request.user.is_authenticated %}
                            <div class="form-group has-success">
                                <label class="card-title">Técnicos</label>
                                {{form.tecnicos}}
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    <button type="submit" class="btn btn-success"> <i class="fa fa-filter"></i> Consultar</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">MONITOREO EN CAMPO/PRODUCTORES</h4>
        <div class="table-responsive">
          <table class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
              <tr>
                <th>Objetivo</th>
                <th>D</th>
                <th>R</th>
                <th>B</th>
                <th>MB</th>
                <th>E</th>
              </tr>
            </thead>
            <tbody>
              {% for k,v in objetivos.items %}
              <tr>
                <td>{{k}}</td>
                {% for x in v %}
                  <th>{{x}}</th>
                {% endfor %}
              </tr>
              {% endfor %}
              <tr>
                <th>Total</th>
                <th>{{total_d}}</th>
                <th>{{total_r}}</th>
                <th>{{total_b}}</th>
                <th>{{total_mb}}</th>
                <th>{{total_e}}</th>
              </tr>
              
            </tbody>
          </table>
        </div>
      </div>
    </div>  
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">MONITOREO DE CAPACITACIONES</h4>
        <div class="table-responsive">
          <table class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
              <tr>
                <th>Técnico SAF</th>
                <th>Temas</th>
                <th>D</th>
                <th>R</th>
                <th>B</th>
                <th>MB</th>
                <th>E</th>
              </tr>
            </thead>
            <tbody>
              {% for k,v in dict_tecnicos.items %}
              
                {% for tema,conteo in v.0.items %}
                <tr>
                  <td>{% if forloop.counter == 1 %}{{k}}{% endif %}</td>
                  <td>{{tema}}</td>
                  <td>{{conteo.0}}</td>
                  <td>{{conteo.1}}</td>
                  <td>{{conteo.2}}</td>
                  <td>{{conteo.3}}</td>
                  <td>{{conteo.4}}</td>
                </tr>
                {% endfor %}
            </tbody>
            {% endfor %}  
          </table>
          <table id="example" class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%"></table>
        </div>
      </div>
    </div>  
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">CRITERIOS DE CALIFICACION</h4>
        <div class="table-responsive">
          <table class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
            <tbody>
              <tr>
                <td>DEFICIENTE</td>
                <td>D</td>
                <td>No cumple con los lineamientos del proyecto, objetivos y criterios de calidad por tanto no valida la ejecución de la actividad</td>
              </tr>
              <tr>
                <td>REGULAR</td>
                <td>R</td>
                <td>Se realiza la actividad con deficiencias que obstaculizan el cumplimiento del objetivo establecido</td>
              </tr>
              <tr>
                <td>BUENO</td>
                <td>B</td>
                <td>Lineamientos, objetivos y criterios de calidad medianamente alcanzados durante la actividad ejecutada. (Seguimiento continuo)</td>
              </tr>
              <tr>
                <td>MUY BUENO</td>
                <td>MB</td>
                <td>Actividad desarrollada con alto nivel de satisfacción sobre los criterios de calificación. (Puede mejorar)</td>
              </tr>
              <tr>
                <td>EXCELENTE</td>
                <td>E</td>
                <td>Cumplimiento total de los criterios de calificación. Actividad modelo para ser replicada en eventos futuros</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>      
</div>

{% endblock content %}
<!--<script>
$(document).ready(function() {
  var data = [
  {% for k,v in dict_tecnicos.items  %}
    {% for tema,conteo in v.0.items %}
      ['{{k}}', '{{tema}}', '{{conteo.0}}', '{{conteo.1}}', '{{conteo.2}}', '{{conteo.3}}', '{{conteo.4}}'],
    {% endfor %}
    
  {% endfor %}

  ];
  var table = $('#example').DataTable({
  columns: [
      {   name: 'second',
          title: 'Técnico SAF',
      },
      {
          
          title: 'Temas',
      },
      {
          title: 'D',
      },
      {
          title: 'R',
      },
      {
          title: 'B',
      },
      {
          title: 'MB',
      },
      {
          title: 'E',
      },
      
  ],
  data: data,
  rowsGroup: [// Always the array (!) of the column-selectors in specified order to which rows groupping is applied
              // (column-selector could be any of specified in https://datatables.net/reference/type/column-selector)
      'second:name',
      0,
  ],
  pageLength: '20',
  });
});
</script> -->       