{% extends "base.html" %}

{% block side_bar %}
{% include "sidebar.html" %}
{% endblock side_bar %}

{% block content %}
<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h4 class="text-themecolor">Renovación</h4>
    </div>
    <!--<div class="col-md-7 align-self-center text-right">
        <div class="d-flex justify-content-end align-items-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Inicio</a></li>
                <li class="breadcrumb-item"><a href="javascript:void(0)">Mantenimiento</a></li>
                <li class="breadcrumb-item active">Monitoreo en campo</li>
            </ol>
        </div>
    </div>-->
</div>
{% include "filtros_seleccionados.html" %}

<div class="row">
	<div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <form action="." method="POST">{% csrf_token %}
                    <div class="row">
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            <div class="form-group has-success">
                                <label class="card-title">Fecha inicio</label>
                                {{form.inicio}}
                            </div>
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            <div class="form-group has-success">
                                <label class="card-title">Fecha fin</label>
                                {{form.fin}}
                            </div>
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            {% if request.user.is_authenticated %}
                            <div class="form-group has-success">
                                <label class="card-title">Técnicos</label>
                                {{form.tecnicos}}
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    
                    
                    
                    <button type="submit" class="btn btn-success"> <i class="fa fa-filter"></i> Consultar</button>
                </form>
            </div>

        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
       <div class="card">
            <div class="card-body">
                <h5 class="card-title">Productores</h5>
                <div class="d-flex m-t-29 m-b-20 no-block align-items-center">
                    <span class="display-5 text-info"><i class="far fa-user"></i></span>
                    <a href="javscript:void(0)" class="link display-5 ml-auto">{{productores}}</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <div class="card">
            <div class="card-body">
                <!--<span>Productores {{productores}}</span> -->
                <h5 class="card-title">Área mz</h5>
                <div class="d-flex m-t-29 m-b-20 no-block align-items-center">
                    <span class="display-5 text-info"><i class="fas fa-tree"></i></span>
                    <a href="javscript:void(0)" class="link display-5 ml-auto">{{area_mz_total|floatformat:2}}</a>
                </div>
            </div>
        </div> 
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <div class="card">
            <div class="card-body">
                <!--<span>Productores {{productores}}</span> -->
                <h5 class="card-title">Área ha</h5>
                <div class="d-flex m-t-29 m-b-20 no-block align-items-center">
                    <span class="display-5 text-info"><i class="fas fa-tree"></i></span>
                    <a href="javscript:void(0)" class="link display-5 ml-auto">{{area_ha_total|floatformat:2}}</a>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row">
   <div class="col-lg-6">
      <div class="card">
         <div class="card-body">
          <div id="forestales" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
      </div>
  </div>	
</div>

<div class="col-lg-6">
  <div class="card">
     <div class="card-body">
      <div id="frutales" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
  </div>
</div>	
</div>
</div>		

<div class="row">
	<div class="col-lg-6">
		<div class="card">
         <div class="card-body">
          <div id="area-mz" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
      </div>
  </div>	
</div>

<div class="col-lg-6">
  <div class="card">
     <div class="card-body">
      <div id="area-ha" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
  </div>
</div>	
</div>
</div>	
{% if request.user.is_authenticated %}
<div class="row">
	<div class="col-lg-12">
		<div class="card">
         <div class="card-body">
            <h4 class="card-title">EXPEDIENTES SAF-RENOVACIÓN</h4>
          <div class="table-responsive">
           <table class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
              <thead>
               <tr>
                <th>Responsable AT</th>
                <th>Asociados/as</th>
                <th colspan="2">Cédula</th>
                <th colspan="2">Acta de Intensión</th>
                <th colspan="2">Mapa</th>
                <th colspan="2">Hoja de Visita</th>
                <th colspan="2">Requisa</th>
                <th colspan="2">Anexos</th>
                <th>Promedio</th>
            </tr>
        </thead>
        <tbody>
           {% for x in expedientes %}
           <tr>
            <td>{{x.0}}</td>
            <td>{{x.1}}</td>
            <td>{{x.2}}</td>
            <td>{{x.3}}%</td>
            <td>{{x.4}}</td>
            <td>{{x.5}}%</td>
            <td>{{x.6}}</td>
            <td>{{x.7}}%</td>
            <td>{{x.8}}</td>
            <td>{{x.9}}%</td>
            <td>{{x.10}}</td>
            <td>{{x.11}}%</td>
            <td>{{x.12}}</td>
            <td>{{x.13}}%</td>
            <th>{{x.14|floatformat:2}}%</th>
        </tr>
        {% endfor %}
        <tr>
            <th>Total general</th>
            <th>{{general_asociados}}</th>
            <th>{{general_cedula}}</th>
            <th></th>
            <th>{{general_acta}}</th>
            <th></th>
            <th>{{general_mapa}}</th>
            <th></th>
            <th>{{general_visita}}</th>
            <th></th>
            <th>{{general_requisa}}</th>
            <th></th>
            <th>{{general_anexos}}</th>
            <th></th>
            <th></th>
        </tr>

    </tbody>
</table>
</div>
</div>
</div>
</div>
</div>

<div class="row">
	<div class="col-lg-12">
		<div class="card">
         <div class="card-body">
          <div id="exp" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
      </div>
  </div>	
</div>
</div>
{% endif %}

{% endblock content %}

{% block extra_js %}
<script>
$("select").addClass("form-control");

Highcharts.chart('forestales', {
	chart: {
        type: 'column'
    },
    title: {
        text: 'Cantidad de forestales por especie'
    },
    xAxis: {
        categories: ['Cantidad',]
    },
    yAxis: {
        title: {
            text: 'Plantas '
        }
    },
    credits: {
        enabled: false
    },
    plotOptions: {
        series: {
            borderWidth: 0,
            dataLabels: {
                enabled: true,
                format: '{point.y}'
            }
        }
    },
    series: [
    {% for x in lista_forestal %}
    {name: '{{x.0}} ({{x.2}} %)',data: [{{x.1}},],},
    {% endfor %}
    
    
    ],
});

Highcharts.chart('frutales', {
	chart: {
        type: 'column'
    },
    title: {
        text: 'Cantidad de frutales por especie'
    },
    xAxis: {
        categories: ['Cantidad',]
    },
    yAxis: {
        title: {
            text: 'Plantas '
        }
    },
    credits: {
        enabled: false
    },
    plotOptions: {
        series: {
            borderWidth: 0,
            dataLabels: {
                enabled: true,
                format: '{point.y}'
            }
        }
    },
    series: [
    {% for x in lista_frutales %}
    {name: '{{x.0}} ({{x.2}} %)',data: [{{x.1}},],},
    {% endfor %}
    
    
    ],
});

Highcharts.chart('area-mz', {
	chart: {
        type: 'column'
    },
    title: {
        text: 'Área en Mz'
    },
    xAxis: {
        categories: ['Cantidad',]
    },
    yAxis: {
        title: {
            text: 'Productores'
        }
    },
    credits: {
        enabled: false
    },
    plotOptions: {
        series: {
            borderWidth: 0,
            dataLabels: {
                enabled: true,
                format: '{point.y}'
            }
        }
    },
    series: [
    {% for k,v in dict_mz.items %}
    {name: '{{k}} ({{v.0}} mz)',data: [{{v.1}},],},
    {% endfor %}
    
    
    ],
});

Highcharts.chart('area-ha', {
	chart: {
        type: 'column'
    },
    title: {
        text: 'Área en Ha'
    },
    xAxis: {
        categories: ['Cantidad',]
    },
    yAxis: {
        title: {
            text: 'Productores'
        }
    },
    credits: {
        enabled: false
    },
    plotOptions: {
        series: {
            borderWidth: 0,
            dataLabels: {
                enabled: true,
                format: '{point.y}'
            }
        }
    },
    series: [
    {% for k,v in dict_ha.items %}
    {name: '{{k}} ({{v.0}} mz)',data: [{{v.1}},],},
    {% endfor %}
    
    
    ],
});

Highcharts.chart('exp', {

    title: {
        text: 'Estado de expedientes SAF-Renovación'
    },

    yAxis: {
        title: {
            text: 'Pocentaje'
        },
        max: 100,
    },
    xAxis: {
        categories: ['Cédula','Acta de Intensión','Mapa','Hoja de Visita','Requisa','Anexos']
    },
    legend: {
        layout: 'vertical',
        align: 'right',
        verticalAlign: 'middle'
    },

    plotOptions: {
        series: {
            label: {
                connectorAllowed: false
            },
            // pointStart: 2010
        }
    },

    series: [
    {% for x in expedientes %}
    {
     name: '{{x.0}}',
     data: [{{x.3}}, {{x.5}}, {{x.7}}, {{x.9}}, {{x.11}}, {{x.13}}]
 },
 {% endfor %}
 ],

 responsive: {
    rules: [{
        condition: {
            maxWidth: 500
        },
        chartOptions: {
            legend: {
                layout: 'horizontal',
                align: 'center',
                verticalAlign: 'bottom'
            }
        }
    }]
}

});
</script>
{% endblock extra_js %}