
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <aside class="left-sidebar">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        

                        <li>
                            <a class="waves-effect waves-dark" href="/renovacion/">
                                <i class="fas fa-seedling"></i><span class="hide-menu">Renovación</span>
                            </a>
                        </li>
                        <li><a class="waves-effect waves-dark" href="/mantenimiento/">
                            <i class="fas fa-hammer"></i><span class="hide-menu">Mantenimiento</span>
                            </a>
                        </li>
                        <li>
                            <a class="waves-effect waves-dark" href="/monitoreo-campo/">
                                <i class="fas fa-percentage"></i><span class="hide-menu">Monitoreo de campo</span>
                            </a>
                        </li>
                        <li>
                            <a class="waves-effect waves-dark" href="/capacitaciones/">
                                <i class="fas fa-chalkboard-teacher"></i><span class="hide-menu">Capacitaciones</span>
                            </a>
                        </li>
                        <li>
                            <a class="waves-effect waves-dark" href="/diagnostico-productivo/">
                                <i class="fas fa-file-medical-alt"></i><span class="hide-menu">Diagnóstico Productivo</span>
                            </a>
                        </li>
                        <li>
                            <a class="waves-effect waves-dark" href="/estimado-cosecha/">
                                <i class="fas fa-leaf"></i><span class="hide-menu">Monitoreo de Plagas y Enfermedades </span>
                            </a>
                        </li>
                        <li>
                            <a class="waves-effect waves-dark" href="/balance-nutrientes/">
                                <i class="fas fa-balance-scale"></i><span class="hide-menu">Balance de Nutrientes</span>
                            </a>
                        </li>
                        <li><a class="waves-effect waves-dark" href="/inventario-forestal/"><i class="fab fa-pagelines"></i><span class="hide-menu">Inventario Forestal</span>
                            </a>
                        </li>
                        <li>
                            <a class="waves-effect waves-dark" href="/asistencia-tecnica/">
                                <i class="fas fa-hands-helping"></i><span class="hide-menu">Asistencia técnica</span>
                            </a>
                        </li>

                        {% if request.user.is_superuser %}
                        <li>
                            <a class="waves-effect waves-dark" href="/perfiles/">
                                <i class="fas fa-users"></i><span class="hide-menu">Perfiles</span>
                            </a>
                        </li>
                        {% endif %}
                        

                    </ul>
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->